/* FESTIVAL OF FOUR WINDS */

/*
** This is the vekktor theme for the Festival of four winds,
** created for the French Guild Wars 2 Wiki.
** This css should be appended to the existing one in
** the "Vector.css" page.
**
** Additional font families required:
** <None>
*/

/* Colors */
:root {
  --header-image: url("https://wiki-fr.guildwars2.com/images/4/40/Four_winds_-_header.png");
  --footer-image: url("https://wiki-fr.guildwars2.com/images/2/27/Four_wind_-_footer_1.png");
  --logo-image: url("https://wiki-fr.guildwars2.com/images/e/e6/Four_wind_logo.png");

  --bg-color: #efece4;
  --bg-color2: #dcd7c3;
  --nav-title: #ffffff;
  --nav-title2: #250908;

  --nav-link: #5ab4bf;
  --nav-link-h: #77cfda;
  --nav-link-v: #618477;
  --nav-link-vh: #85b8ab;

  --external-link: #ac3a16;
  --external-link-h: #d28242;
  --external-link-v: #ac3a16;

  --box-shadows: rgba(208, 202, 170, 0.5);
  --body-shadow: rgba(208, 202, 170, 0.5);
  --body-border: #d0caaa;

  --vector-tab1: #ffffff;
  --vector-tab2: #dee0d2;
  --vector-tab3: #d0caaa;

  --pers1: #f0dfd8;
  --pers2: #e7d8cb;
  --pers-shadow: rgba(171, 57, 22, 0.5);
}

/* Header */
body {
  min-height: calc(max(100vh, 66em));
  background: var(--header-image) left top/1000px no-repeat,
    url("https://wiki-fr.guildwars2.com/images/8/88/Apparence_quater_vents_-_background_left.png")
      left/400px repeat-y,
    url("https://wiki-fr.guildwars2.com/images/3/36/Apparence_quater_vents_-_background_right.png")
      right/400px repeat-y,
    linear-gradient(var(--bg-color), var(--bg-color2)) no-repeat fixed;
}

/* Footer */
footer#footer {
  background-image: var(--footer-image);
}

/* Icons */
footer#footer li#footer-copyrightico {
  background-image: url("/images/a/a3/Logo_ArenaNet_blanc.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Left panel */
div#mw-panel #p-logo + nav.portal {
  margin-top: 2em;
}
