/*** Guild Wars 2 10 years anniversary ***/

/*
** This is the vekktor theme for the Guild Wars 2 anniversary,
** created for the French Guild Wars 2 Wiki.
** This css should be appended to the existing one in
** the "Vector.css" page.
**
** Additional font families required:
*/

/* Colors */
:root {
    --header-image: url("/images/6/6d/Header-anniversaire.png");
    --footer-image: url("/images/b/be/Footer-anniversaire.png");
    --logo-image: url("/images/f/f1/Logo_anniversaire.png");
    --user-icon: url("/images/7/71/UserIcon-anniversaire.png"); /* https://wiki-fr.guildwars2.com/images/b/b0/Ic%C3%B4ne_marchand_du_festival.png*/
    --user-icon-padding: 20px;
    --alert-bell-icon: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3Ebell%3C/title%3E%3Cpath d=%22M16 7a5.38 5.38 0 00-4.46-4.85C11.6 1.46 11.53 0 10 0S8.4 1.46 8.46 2.15A5.38 5.38 0 004 7v6l-2 2v1h16v-1l-2-2zm-6 13a3 3 0 003-3H7a3 3 0 003 3z%22/%3E%3C/svg%3E");
    --notification-icon: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3Etray%3C/title%3E%3Cpath d=%22M3 1a2 2 0 00-2 2v14a2 2 0 002 2h14a2 2 0 002-2V3a2 2 0 00-2-2zm14 12h-4l-1 2H8l-1-2H3V3h14z%22/%3E%3C/svg%3E");
    --personal-bar-icon-opacity: 0.51;
    --preference-star-empty: url("/images/a/a8/Étoile_de_préférence_vide_anniversaire.png");
    --preference-star-full: url("/images/6/6f/Étoile_de_préférence_pleine_anniversaire.png");
    --additional-personal-icon-color: #000;
    --bg-color: #f9f9fa;
    --popup-bg-color: #fff;
    --external-link: #ffc8ad;
    --external-link-h: #ffe8dc;
    --external-link-v: #fff8f5;
    --nav-title: #eee;
    --nav-title2: #000;
    --nav-link: #d6610c;
    --nav-link-h: #fda354;
    --nav-link-v: #914314;
    --nav-link-vh: #ff6b57;
    --main-page-link: #0645ad;
    --main-page-link-h: #1e63d1;
    --main-page-link-v: #0b0080;
    --main-page-link-vh: #3025a7;
    --box-shadows: rgba(50, 50, 50, 0.5);
    --footer1: #665e59;
    --footer2: #252525;
    --body-head-color: #252525;
    --body-color: #252525;
    --infobox-color: #252525;
    --muted-color: #72777d;
    --body-bg: #fff;
    --additional-body-bg: #f8f9fa;
    --body-bg-grad1: #eee;
    --body-bg-grad2: #decfc4;
    --body-mainpage_header1: #555;
    --body-mainpage_header2: #333;
    --body-shadow: rgba(214, 36, 13, 0.5);
    --body-border: #ca9189;
    --vector-tab1: #f5f5f5;
    --vector-tab2: #fff2f2;
    --pers1: var(--bg-color);
    --pers2: var(--bg-color);
    --pers-shadow: transparent;
    --bg-search: #fff;
    --content-large-position-y: 4em;
    --content-small-position-y: 7.5em;
    --vector-tabs-height: 2.5em;
    --vector-tabs-padding-left: 0em;
    --footer-height: 9em;
    --transition-duration: 0.25s;
}

/* The original logo is very big, so we constrain it */
div#p-logo a {
    background-size: contain;
}

/* Star Anniversary */
.vector-menu-tabs ul #ca-watch.icon a::before {
    background-image: var(--preference-star-empty);
    background-size: contain;
}

.vector-menu-tabs ul #ca-unwatch.icon a::before {
    background-image: var(--preference-star-full);
    background-size: contain;
}

.vector-menu-tabs ul #ca-watch.icon a:hover::before {
    background-image: var(--preference-star-full);
    background-size: contain;
}

.vector-menu-tabs ul #ca-unwatch.icon a:hover::before {
    background-image: var(--preference-star-empty);
    background-size: contain;
}
/* Fix footer */
footer#footer #footer-info li {
    color: black;
}
footer#footer li#footer-copyrightico {
    width: 77px;
    height: 34px;
    background-image: url("https://wiki-fr.guildwars2.com/images/a/a3/Logo_ArenaNet_blanc.png");
}

footer#footer #footer-info li a,
footer#footer ul li a {
    color: var(--main-page-link);
}

footer#footer #footer-info li a:hover,
footer#footer ul li a:hover {
    color: var(--main-page-link-h);
}

footer#footer #footer-info li a:visited,
footer#footer ul li a:visited {
    color: var(--main-page-link-v);
}

footer#footer #footer-info li a:visited:hover,
footer#footer ul li a:visited:hover {
    color: var(--main-page-link-vh);
}

body {
    background-position: 0 0, left bottom;
    background-size: auto, contain;
}

@media (min-width: 900px) {
    body {
        background-position: 0 0, left bottom;
    }
}

@media (min-width: 1000px) {
    body {
        background-position: 0 0, left bottom;
    }
}

@media (min-width: 1400px) {
    body {
        background-position: 0 0, left bottom;
    }
}

/* Fix user icon */
#pt-userpage a,
#pt-anonuserpage a {
    padding-top: 0em !important;
}

/* Confetti */
#confetti-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}

#confetti-wrapper > div {
    background: white;
    color: transparent !important;
    animation: confetti 4s ease-in-out 0s infinite;
}

/* Give each confetti a a color */
#confetti-wrapper > div:nth-child(10n + 0) {
    background-color: #1ee460;
}
#confetti-wrapper > div:nth-child(10n + 1) {
    background-color: #ad57e6;
}
#confetti-wrapper > div:nth-child(10n + 2) {
    background-color: #fdc867;
}
#confetti-wrapper > div:nth-child(10n + 3) {
    background-color: #ee4e91;
}
#confetti-wrapper > div:nth-child(10n + 4) {
    background-color: #f8ded9;
}
#confetti-wrapper > div:nth-child(10n + 5) {
    background-color: #f73a00;
}
#confetti-wrapper > div:nth-child(10n + 6) {
    background-color: #fa4fca;
}
#confetti-wrapper > div:nth-child(10n + 7) {
    background-color: #006ce7;
}
#confetti-wrapper > div:nth-child(10n + 8) {
    background-color: #73f7cb;
}
#confetti-wrapper > div:nth-child(10n + 9) {
    background-color: #81bbee;
}

/* Give each confetti an animation offset */
#confetti-wrapper > div:nth-child(6n + 0) {
    animation-delay: 0;
}
#confetti-wrapper > div:nth-child(6n + 1) {
    animation-delay: -2s;
}
#confetti-wrapper > div:nth-child(6n + 2) {
    animation-delay: -5s;
}
#confetti-wrapper > div:nth-child(6n + 3) {
    animation-delay: -3s;
}
#confetti-wrapper > div:nth-child(6n + 4) {
    animation-delay: -1s;
}
#confetti-wrapper > div:nth-child(6n + 5) {
    animation-delay: -0.5s;
}

/* Give each confetti an animation duration */
#confetti-wrapper > div:nth-child(7n + 0) {
    animation-duration: 5s;
}
#confetti-wrapper > div:nth-child(7n + 1) {
    animation-duration: 3s;
}
#confetti-wrapper > div:nth-child(7n + 2) {
    animation-duration: 4.5s;
}

@keyframes confetti {
    0% {
        transform: rotateZ(15deg) rotateY(0deg);
    }
    25% {
        transform: rotateZ(5deg) rotateY(360deg);
    }
    50% {
        transform: rotateZ(15deg) rotateY(720deg);
    }
    75% {
        transform: rotateZ(5deg) rotateY(1080deg);
    }
    100% {
        transform: rotateZ(15deg) rotateY(1440deg);
    }
}
