/*** LUNAR NEW YEAR ***/

/*
** This is the vekktor theme for the Lunar New Year,
** created for the French Guild Wars 2 Wiki.
** This css should be appended to the existing one in
** the "Vector.css" page.
**
** Additional font families required:
** - Neucha
** - Aladin
*/

/* Colors */
:root {
  --header-image: url("https://wiki-fr.guildwars2.com/images/b/bb/Header_-_Nouvel_An_Lunaire.png");
  --footer-image: url("https://wiki-fr.guildwars2.com/images/8/80/Footer_-_Nouvel_An_Lunaire.png");
  --logo-image: url("");
  --user-icon: url("/images/b/bd/Ic%C3%B4ne_utilisateur_Nouvel_an_lunaire.png");
  --user-icon-padding: 25px;
  --personal-bar-icon-opacity: 0.75;
  --additional-personal-icon-color: #da800b;

  --bg-color: #3d0000;
  --body-shadow: rgba(255, 187, 0, 0.75);
  --body-border: #ff9900;

  --pers1: #450000;
  --pers2: #504030;

  --nav-separator: #ffae00;

  --nav-title: #ffffff;
  --nav-title2: #942213;
  --nav-title3: #f1cd89;
  --nav-link: #c5ac67;
  --nav-link-h: #ffab19;
  --nav-link-v: #da800b;
  --nav-link-vh: #f0b248;

  --vector-tab1: #ffefe6;
  --vector-tab2: #e7e7e7;
  --vector-tab3: #cfb4bd;

  --external-link: #f5d7c4;
  --external-link-h: #ffffff;
  --external-link-v: #ffe0d9;
}

/* Footer */
footer#footer {
  font-family: "Aladin";
  font-size: 1.25em;
}

@media (max-width: 620px) {
  footer#footer {
    background-position-x: 25%;
    background-position-y: 10%;
    text-shadow: 0px 0px 4px #000;
  }
}

/* Logo */
div#p-logo a {
  background: transparent !important;
}

/* Icons */
footer#footer li#footer-copyrightico {
  background: url("/images/a/a3/Logo_ArenaNet_blanc.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Font family */
div#mw-panel,
nav#p-personal a {
  font-family: "Neucha";
  font-size: 1.05em;
}

div#content h1,
div#content h2,
div#content #firstHeading {
  font-family: "Aladin";
}

nav.vector-menu-tabs ul li a {
  font-family: "Aladin";
  font-size: 1.05em;
  padding-top: 13px;
}

/* Left navigation */
div#mw-panel nav.portal h3 {
  color: var(--nav-title3);
}

div#mw-panel nav.portal {
  background: none;
  border-top: solid 1px var(--nav-separator);
}

div#mw-panel #p-logo + nav.portal {
  border-top: none;
}

nav.vector-menu-portal h3 {
  background-image: none;
}

/* Vector tab */
#p-cactions-label span {
  color: var(--nav-title3);
}
