/*** LUNAR NEW YEAR DARK THEME ***/

/*
** This is the dark theme for the Lunar New Year theme,
** created for the French Guild Wars 2 Wiki.
** This css should be appended to the vekktor dark theme css.
** This css should be used with the Lunar New Year css.
**
** Additional font families required:
** <None>
*/

/* Colors */
:root {
  --bg-color: #3d3131;
  --box-shadows: rgba(154, 1, 1, 0.6);
  --body-shadow: rgba(255, 187, 0, 0.75);
  --body-border: #ff9900;
  --external-link: #f5d7c4;
  --external-link-h: #ffffff;
  --external-link-v: #ffe0d9;
  --nav-link: #c5ac67;
  --nav-link-h: #ffab19;
  --nav-link-v: #da800b;
  --nav-link-vh: #f0b248;
  --nav-title: #ffffff;
  --nav-title2: #942213;
  --nav-title3: #f1cd89;

  --links: #fac87e;
  --links-visited: #f3c759;
  --links-external: #87b4ff;
}
