/* Le CSS placé ici n’affectera que les utilisateurs du site mobile
* Si certaines de vos modifications s'appliquent aussi à la version bureau, pensez à modifier MediaWiki:Common.css et MediaWiki:Vector.css
*/

/* Apparence standard proposée grise pour le wiki FR par IruleManik */

/** Header **/

.header .branding-box h1 span,
.header .branding-box a span {
  color: transparent;
}

.header .branding-box {
  background: url("https://wiki-fr.guildwars2.com/images/f/f0/Logo-GW2Wiki-Minerva-ui.png")
    left/97% no-repeat;
  width: 15.4em;
}

.header .search-box .search {
  margin-left: 1em;
}

/** Footer **/

footer > .post-content > h2 {
  color: transparent;
  background: url("https://wiki-fr.guildwars2.com/images/b/b9/Logo_footer_mobile.png")
      left/37% no-repeat,
    url("https://wiki-fr.guildwars2.com/images/c/c0/Logo_ArenaNet_mobile.png")
      right/20% no-repeat;
  height: 10em;
}

footer > .post-content {
  color: white;
}

footer > .post-content a {
  color: #e8c2e5;
}

/** Version bêta MediaWiki **/

.beta .header .branding-box h1 sup,
.beta .header .branding-box a sup {
  color: grey;
  font-weight: 600;
  margin-left: 111px;
  margin-bottom: 10px;
  float: none;
}

/** Mobile only **/

@media (max-width: 400px) {
  footer > .post-content > h2 {
    color: transparent;
    background: url("https://wiki-fr.guildwars2.com/images/b/b9/Logo_footer_mobile.png")
        left/60% no-repeat,
      url("https://wiki-fr.guildwars2.com/images/c/c0/Logo_ArenaNet_mobile.png")
        right/40% no-repeat;
    height: 7em;
  }
  .beta .header .branding-box h1 sup,
  .beta .header .branding-box a sup {
    margin-left: 74px;
  }
}

/*
*
* Généralités
*
*/

/** Texte italique ombre */

.shadow {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 16px;
  text-shadow: 0 0 8px #fff;
}

/** Correction lien en gras vers une propre page **/

a:not([href]) {
  color: black;
  font-weight: bold;
}

/** Tables **/

.table > :first-child > tr:first-child,
.table > tbody > tr.heading,
.table > :first-child > tr:first-child > *,
.table > tbody > tr.heading > * {
  background-color: #888 !important;
  border-color: #6d6d6d !important;
}

.table > tbody > tr > th,
table.table > tbody > tr > th {
  background-color: #ccc;
  border-color: #aaa;
}

.table > tbody > tr:nth-child(odd),
.table > tbody > tr:nth-child(odd) {
  background-color: #eee;
}

/**
** General Infobox styles
**/

div.infobox {
  float: right;
  clear: right;
  position: relative;
  max-width: 325px !important;
  font-size: 0.9em;
  background-color: #f7f7f7;
  margin: 5px;
  padding-bottom: 5px;
  margin-top: 8px;
  margin-bottom: 22px;
  word-break: break-word;
}

div.infobox .icône {
  float: right;
  width: 40px;
  margin: 6px 4px 3px;
}

div.infobox .icônelarge {
  float: right;
  width: 55px;
  height: 55px;
  right: 0;
  border: 4px solid silver;
  background-color: silver;
  background-image: url(https://wiki.guildwars2.com/images/3/39/User_Alfa-R_infobox_hader_overlay.png) !important;
}

.wrapper {
  clear: both;
  padding: 0px 0px 5px 0px;
  display: inline-block;
}

div.infobox .icône p {
  text-align: center;
  font-size: 0.75em;
  color: #777;
}

div.infobox .statistiques {
  text-align: center;
  margin: -7px 0 9px 47px;
}

div.infobox dl {
  margin: 0;
  padding: 0;
}

div.infobox dt {
  float: left;
  text-align: right;
  width: 98px;
  line-height: 1em;
  margin: 0;
  padding: 5px 8px 2px 3px;
  font-weight: 700;
  width: 43%;
}

div.infobox dd {
  float: left;
  width: 145px;
  font-weight: 400;
  text-align: left;
  margin: 0;
  padding: 2px 7px;
  width: 46%;
  border-left: 2px solid silver;
}

div.infobox .image_wrapper {
  text-align: center;
  padding: 0 0 10px;
}

p.entêteicône {
  font-family: EasonPro, "Times New Roman", Times, serif;
  text-shadow: 0 0 10px #fff;
  font-size: 1.25em;
  font-weight: 700;
  text-align: center;
  padding: 0 8px;
  background-color: silver;
  background-image: url(https://wiki.guildwars2.com/images/3/39/User_Alfa-R_infobox_hader_overlay.png) !important;
  margin-top: 13px;
}

p.entête {
  font-family: EasonPro, "Times New Roman", Times, serif;
  text-shadow: 0 0 10px #fff;
  font-size: 1.25em;
  font-weight: 700;
  text-align: center;
  padding: 0 8px;
  background-color: silver;
  background-image: url(https://wiki.guildwars2.com/images/3/39/User_Alfa-R_infobox_hader_overlay.png) !important;
  margin-top: 0px;
}

/**
* Custom infobox styles
**/

/*** Infobox Arme ***/

div.infobox.arme {
  background-color: #fffbe6;
  border: 1px solid #f5b11d;
  box-shadow: 1px 1px 5px #f5b11d;
}

div.infobox.arme dd {
  border-color: #f5b11d;
}

div.infobox.arme .entêteicône {
  background: #f5b11d;
}

div.infobox.arme .icônelarge {
  border: 4px solid #f5b11d;
  background-color: #f5b11d;
}

/*** Infobox Armure ***/

div.infobox.armure {
  background-color: #ebf5fc;
  border: 1px solid #90bfde;
  box-shadow: 1px 1px 10px #90bfde;
}

div.infobox.armure dd {
  border-color: #90bfde;
}

div.infobox.armure .entêteicône {
  background: #90bfde;
}

div.infobox.armure .icônelarge {
  border: 4px solid #90bfde;
  background-color: #90bfde;
}

/*** Infobox Accessoire ***/

div.infobox.accessoire {
  background-color: #ebf3fa;
  border: 1px solid #84b6e3;
  box-shadow: 1px 1px 10px #84b6e3;
}

div.infobox.accessoire dd {
  border-color: #84b6e3;
}

div.infobox.accessoire .entêteicône {
  background: #84b6e3;
}

div.infobox.accessoire .icônelarge {
  border: 4px solid #84b6e3;
  background-color: #84b6e3;
}

/*** Infobox apparence ***/

div.infobox.apparence {
  background-color: #f5f2ff;
  border: 1px solid #9a88dc;
  box-shadow: 1px 1px 10px #9a88dc;
}

div.infobox.apparence dd {
  border-color: #9a88dc;
}

div.infobox.apparence .entêteicône {
  background: #9a88dc;
}

div.infobox.apparence .icônelarge {
  border: 4px solid #9a88dc;
  background-color: #9a88dc;
}

div.infobox.apparence .image_wrapper_apparence {
  text-align: center;
  padding: 17px 0px 0px 0px;
}

/* Infobox événement dynamique */

div.infobox.événement {
  background-color: #faf2da;
  border: 1px solid #ffbb4c;
  box-shadow: 1px 1px 10px #ffbb4c;
}

div.infobox.événement .icône {
  float: right;
  width: 40px;
  margin: 4px 12px 0;
}

div.infobox.événement dd {
  border-color: #ffbb4c;
}

/*** Infobox objet et ses sous-classes ***/

div.infobox.objet {
  background-color: #edefff;
  border: 1px solid #5388e0;
  box-shadow: 1px 1px 10px #5388e0;
}

div.infobox.objet dd {
  border-color: #5388e0;
}

div.infobox.objet .icônelarge {
  border: 4px solid #5388e0;
  background-color: #5388e0;
}

div.infobox.objet .entêteicône {
  background: #5388e0;
}

div.infobox.objet .icône {
  margin: 3px 4px;
}

/**** Infobox objet consommable ****/

div.infobox.consommable {
  background-color: #fcfbf2;
  border: 1px solid #b5b398;
  box-shadow: 1px 1px 10px #b5b398;
}

div.infobox.consommable dd {
  border-color: #b5b398;
}

div.infobox.consommable .entêteicône {
  background: #b5b398;
}

div.infobox.consommable .icônelarge {
  border: 4px solid #b5b398;
  background-color: #b5b398;
}

div.infobox.consommable .icône {
  margin: 3px 4px;
}

/**** Infobox objet matériau ****/

div.infobox.matériau {
  background-color: #fff4e8;
  border: 1px solid #a68151;
  box-shadow: 1px 1px 10px #a68151;
}

div.infobox.matériau dd {
  border-color: #a68151;
}

div.infobox.matériau .icônelarge {
  border: 4px solid #a68151;
  background-color: #a68151;
}

div.infobox.matériau .entêteicône {
  background: #a68151;
}

/**** Infobox objet décoration de guilde ****/

div.infobox.décoration {
  background-color: #e3f1ff;
  border: 1px solid #002f46;
  box-shadow: 1px 1px 10px #002f46;
}

div.infobox.décoration dd {
  border-color: #002f46;
}

div.infobox.décoration .icônelarge {
  border: 4px solid #002f46;
  background-color: #002f46;
}

div.infobox.décoration .entêteicône {
  background: #002f46;
  color: #e3f1ff;
  text-shadow: 0 0 5px #000;
}

/*** Infobox mini ***/

div.infobox.mini {
  background-color: #fcf2f3;
  border: 1px solid #d49498;
  box-shadow: 1px 1px 10px #d49498;
}

div.infobox.mini dd {
  border-color: #d49498;
}

div.infobox.mini .entête {
  background: #d49498;
}

div.infobox.mini .image_wrapper {
  width: 128px;
  height: 128px;
  border: 4px solid #d49498;
  background-color: #d49498;
}

/*** Infobox maîtrise ***/

div.infobox.maîtrise {
  background-color: #fcebc2;
  border: 1px solid #e8a815;
  box-shadow: 1px 1px 10px #e8a815;
}

div.infobox.maîtrise dd {
  border-color: #e8a815;
}

div.infobox.maîtrise .entête {
  background: #e8a815;
}

div.infobox.maîtrise .image_wrapper {
  border: 4px solid #e8a815;
  background-color: #e8a815;
}

/*** Infobox objet interactif ***/

div.infobox.objet_interactif {
  background-color: #fffae8;
  border: 1px solid #fc5;
  box-shadow: 1px 1px 10px #fc5;
}

div.infobox.objet_interactif dd {
  border-color: #fc5;
}

div.infobox.objet_interactif .entête {
  background: #fc5;
}

/*** Infobox teinture ***/

div.infobox.teinture {
  background-color: #edfbff;
  border: 1px solid #39aecd;
  box-shadow: 1px 1px 10px #39aecd;
}

div.infobox.teinture dd {
  border-color: #39aecd;
}

div.infobox.teinture .icônelarge {
  border: 4px solid #39aecd;
  background-color: #39aecd;
}

div.infobox.teinture p.entêteicône {
  background: #39aecd;
}

/* Infobox tenue*/

div.infobox.tenue {
  background-color: #f5f2ff;
  border: 1px solid #e4d147;
  box-shadow: 1px 1px 10px #e4d147;
}

div.infobox.tenue .image_wrapper_tenue {
  text-align: center;
  padding: 10px 0;
}

div.infobox.tenue dd {
  border-color: #e4d147;
}

div.infobox.tenue .entêteicône {
  background: #e4d147;
}

div.infobox.tenue .icônelarge {
  border: 4px solid #e4d147;
  background-color: #e4d147;
}

/*** Infobox PNJ ***/

div.infobox.pnj {
  background-color: #eeffeb;
  border: 1px solid #4eba38;
  box-shadow: 1px 1px 10px #4eba38;
}

div.infobox.pnj dd {
  border-color: #4eba38;
}

div.infobox.pnj .entête {
  background: #4eba38;
}

div.infobox.pnj .image_wrapper {
  text-align: center;
  padding: 10px 0px 5px 0px;
}

div.infobox.pnj .icône {
  float: right;
  width: 40px;
  margin: 0 19px 3px;
}

/*** Styles par profession ***/

/**** Élémentaliste ****/

div .élémentaliste {
  background-color: #ffeeed;
  border: 1px solid #f68a87;
  box-shadow: 1px 1px 5px #f68a87;
}

div .élémentaliste .icônelarge {
  border-color: #f68a87;
  background-color: #f68a87;
}

div .élémentaliste .entêteicône {
  background: #f68a87;
}

div .élémentaliste dd {
  border-color: #f68a87;
}

/**** Envoûteur ****/

div .envoûteur {
  background-color: #ffe3fd;
  border: 1px solid #d873e6;
  box-shadow: 1px 1px 5px #d873e6;
}

div .envoûteur .icônelarge {
  border-color: #d873e6;
  background-color: #d873e6;
}

div .envoûteur .entêteicône {
  background: #d873e6;
}

div .envoûteur dd {
  border-color: #d873e6;
}

/**** Nécromant ****/

div .nécromant {
  background-color: #ebffeb;
  border: 1px solid #58ad75;
  box-shadow: 1px 1px 5px #58ad75;
}

div .nécromant .icônelarge {
  border-color: #58ad75;
  background-color: #58ad75;
}

div .nécromant .entêteicône {
  background: #58ad75;
}

div .nécromant dd {
  border-color: #58ad75;
}

/**** Ingénieur ****/

div .ingénieur {
  background-color: #ffede0;
  border: 1px solid #dba681;
  box-shadow: 1px 1px 5px #dba681;
}

div .ingénieur .icônelarge {
  border-color: #dba681;
  background-color: #dba681;
}

div .ingénieur .entêteicône {
  background: #dba681;
}

div .ingénieur dd {
  border-color: #dba681;
}

/**** Rôdeur ****/

div .rôdeur {
  background-color: #fffee3;
  border: 1px solid #aad070;
  box-shadow: 1px 1px 5px #aad070;
}

div .rôdeur .icônelarge {
  border-color: #aad070;
  background-color: #aad070;
}

div .rôdeur .entêteicône {
  background: #aad070;
}

div .rôdeur dd {
  border-color: #aad070;
}

/**** Voleur ****/

div .voleur {
  background-color: #ffebee;
  border: 1px solid #a66f79;
  box-shadow: 1px 1px 5px #a66f79;
}

div .voleur .icônelarge {
  border-color: #a66f79;
  background-color: #a66f79;
}

div .voleur .entêteicône {
  background: #a66f79;
}

div .voleur dd {
  border-color: #a66f79;
}

/**** Guerrier ****/

div .guerrier {
  background-color: #fcf4e6;
  border: 1px solid #ffc94d;
  box-shadow: 1px 1px 5px #ffc94d;
}

div .guerrier .icônelarge {
  border-color: #ffc94d;
  background-color: #ffc94d;
}

div .guerrier .entêteicône {
  background: #ffc94d;
}

div .guerrier dd {
  border-color: #ffc94d;
}

/**** Gardien ****/

div .gardien {
  background-color: #dbf1ff;
  border: 1px solid #72c1d9;
  box-shadow: 1px 1px 5px #72c1d9;
}

div .gardien .icônelarge {
  border-color: #72c1d9;
  background-color: #72c1d9;
}

div .gardien .entêteicône {
  background: #72c1d9;
}

div .gardien dd {
  border-color: #72c1d9;
}

/**** Revenant ****/

div .revenant {
  background-color: #fff1f1;
  border: 1px solid #a24444;
  box-shadow: 1px 1px 5px #a24444;
}

div .revenant .icônelarge {
  border-color: #a24444;
  background-color: #a24444;
}

div .revenant .entêteicône {
  background: #a24444;
}

div .revenant dd {
  border-color: #a24444;
}

/** Modèle Recette **/

div.recette {
  border: 1px solid #805d30;
  width: 285px;
  box-shadow: 1px 1px 10px #805d30;
  display: inline-block;
  background-color: #f5eee6;
  background-image: url(https://wiki.guildwars2.com/images/3/39/User_Alfa-R_infobox_hader_overlay.png) !important;
}

div.recette .icône {
  float: right;
  width: 40px;
  height: 40px;
  margin: 8px 6px 0 0;
  right: 0;
  border: 3px solid #805d30;
  background-color: #805d30;
  background-image: url(https://wiki.guildwars2.com/images/3/39/User_Alfa-R_infobox_hader_overlay.png) !important;
}

div.recette .entête {
  font-family: EasonPro, "Times New Roman", Times, serif;
  text-shadow: 0 0 4px #000;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  padding: 0 8px;
  margin: 18px 0 10px;
  background-color: #805d30;
  background-image: url(https://wiki.guildwars2.com/images/3/39/User_Alfa-R_infobox_hader_overlay.png) !important;
  color: #e4d8b0;
}

div.recette .table {
  padding: 5px 0 5px 0;
}

div.recette p.ligne.qt {
  float: left;
  text-align: right;
  width: 10%;
  display: inline-block;
  padding: 1px 4px 1px 0px;
  margin: 0em;
}

div.recette p.ligne.mat {
  float: left;
  text-align: left;
  width: 85%;
  display: inline-block;
  padding: 1px 0px 1px 0px;
  margin: 0em;
}

div.recette .wrapper {
  clear: both;
  display: inline-block;
}

div.recette dt {
  float: left;
  text-align: right;
  line-height: 1em;
  margin: 0;
  padding: 5px 8px 2px 3px;
  font-weight: 700;
  width: 44%;
}

div.recette dd {
  float: left;
  font-weight: 400;
  text-align: left;
  margin: 0;
  padding: 2px 7px;
  border-left: 2px solid #583922;
  width: 45%;
}

/** Affichage Garde-robe **/

div.garderobe {
  padding: 1px;
  display: inline-block;
  background-color: #b7b0d1;
  box-shadow: 1px 1px 10px #9a88dc;
  border: 1px solid #9a88dc;
}

div.amélioration_de_guilde {
  padding: 1px;
  display: inline-block;
  background-color: #236d91;
  box-shadow: 1px 1px 10px #002f46;
  border: 1px solid #002f46;
}

/*
**** Page d'accueil - Main page
*/

/**
* PAGE d'ACCUEIL
**/

div.mainpage {
  margin-right: auto;
  margin-left: auto;
  display: -webkit-flex;
  /* Safari */
  display: flex;
  /* Standard syntax */
  position: relative;
  background-image: linear-gradient(#d6c4de 0%, #fff 2%, #fff 50%, #eee 100%);
}

div.mainpage .maincolumn {
  -webkit-flex: 2 1 auto;
  /* Safari */
  -ms-flex: 2 1 auto;
  /* IE 10 */
  flex: 2 1 auto;
  /* Standard syntax */
  flex-direction: column;
}

div.mainpage .left {
  width: 65%;
}

div.mainpage .right {
  width: 35%;
}

.mainpagenavigationtitle {
  font-family: EasonPro, "Times New Roman", serif;
  font-size: 1.7692307692em;
  color: #ddc7de;
  background-image: linear-gradient(top, #350f39, #2c0d2f) !important;
  background-image: -o-linear-gradient(top, #350f39, #2c0d2f) !important;
  background-image: -moz-linear-gradient(top, #350f39, #2c0d2f) !important;
  background-image: -webkit-linear-gradient(top, #350f39, #2c0d2f) !important;
  background-image: -ms-linear-gradient(top, #350f39, #2c0d2f) !important;
  text-align: center;
  padding: 0.15em;
}

.mainpagebackground {
  padding: 0.5em 5%;
  height: 80%;
}

.mainpage a {
  color: #a36d8f;
}

.mainpage a:hover {
  color: #8d6ba7;
}

.mainpage a:visited {
  color: #661c9c;
}

.mainpage a:visited:hover {
  color: #920073;
}

@media (max-width: 640px) {
  div.mainpage .left {
    width: 100%;
  }
  div.mainpage .right {
    width: 100%;
  }
  div.mainpage {
    width: auto;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    text-align: center;
  }
  div.mainpage .maincolumn {
    -webkit-flex: none;
    /* Safari */
    -ms-flex: none;
    /* IE 10 */
    flex: none;
    /* Standard syntax */
  }
}

/*
* THEME POF - PATH OF FIRE
* Proposé pour le wiki FR par IruleManik
* Versions bureau mobile et mobile
*/

/** Header **/

.header-container.header-chrome {
  background: url("https://wiki-fr.guildwars2.com/images/3/3e/Banni%C3%A8re_1_-_mobile_-_Path_of_Fire.jpg")
    center/cover no-repeat;
}

/*** Logo ***/

.header .branding-box {
  background: url(https://wiki-fr.guildwars2.com/images/0/04/Logo-GW2Wiki-Minerva-ui-blanc.png)
    left/97% no-repeat;
  width: 15.4em;
}

/** Footer **/

.minerva-footer {
  overflow: auto;
  padding-bottom: 6px;
  background: url("https://wiki-fr.guildwars2.com/images/2/24/Banni%C3%A8re_2_-_mobile_-_Path_of_Fire.jpg")
    left/cover no-repeat;
}

/*** Licences ***/

footer > .post-content > h2 {
  color: transparent;
  background: url("https://wiki-fr.guildwars2.com/images/2/2d/Logo_footer_mobile_blanc.png")
      left/37% no-repeat,
    url("https://wiki-fr.guildwars2.com/images/a/a3/Logo_ArenaNet_blanc.png")
      right no-repeat;
  height: 10em;
}

/** Icônes blanches Minevera ui **/

.mw-ui-icon-minerva-mainmenu:before {
  background-image: linear-gradient(transparent, transparent),
    url("https://wiki-fr.guildwars2.com/images/1/1e/Minerva-ui-white-mainmenu.png");
}

.mw-ui-icon-wikimedia-bellOutline-base20:before {
  background-image: linear-gradient(transparent, transparent),
    url("https://wiki-fr.guildwars2.com/images/c/cd/Minerva-ui-white-bell.png");
}

.mw-ui-icon-wikimedia-search-base20:before,
.mw-ui-background-icon-search {
  background-image: linear-gradient(transparent, transparent),
    url("https://wiki-fr.guildwars2.com/images/9/9d/Minerva-ui-white-inputsearch.png");
}

.mw-ui-icon-mf-close-base20:before {
  background-image: url("https://wiki-fr.guildwars2.com/images/e/ee/Minerva-ui-white-cross.png");
}

/** MainMenu mobile panneau latéral **/

.mw-ui-icon-minerva-rc:before {
  background-image: linear-gradient(transparent, transparent),
    url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Cg fill=%22%234A4F53%22%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath fill-rule=%22nonzero%22 d=%22M6 15h2v2H6z%22/%3E%3Cpath fill-rule=%22nonzero%22 d=%22M6 9h6v2H6z%22/%3E%3Cpath fill-rule=%22nonzero%22 d=%22M6 3h11v2H6z%22/%3E%3Ccircle cx=%222%22 cy=%224%22 r=%222%22 fill-rule=%22nonzero%22/%3E%3Ccircle cx=%222%22 cy=%2210%22 r=%222%22 fill-rule=%22nonzero%22/%3E%3Ccircle cx=%222%22 cy=%2216%22 r=%222%22 fill-rule=%22nonzero%22/%3E%3Cpath d=%22M18.76 11.89l1.078-1.112a.556.556 0 0 0 0-.783l-1.855-1.833a.556.556 0 0 0-.783 0l-1.09 1.077 2.65 2.65z%22/%3E%3Cpath d=%22M15.533 9.828L10 15.361V18h2.639l5.533-5.533z%22/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.mw-ui-icon-minerva-aq:before {
  background-image: url("https://wiki-fr.guildwars2.com/images/f/f4/Icon-minerva-help.svg");
}

.mw-ui-icon-minerva-an:before {
  background-image: url("https://wiki-fr.guildwars2.com/images/c/cb/Icon-minerva-admin-noticeboard.svg");
}

.mw-ui-icon-minerva-rb:before {
  background-image: url("https://wiki-fr.guildwars2.com/images/1/10/Icon-minerva-report-bug.svg");
}

/**
* Thème Path of Fire proposé pour le wiki FR
* Version exclusivement mobile
**/

@media (max-width: 640px) {
  .header-container.header-chrome {
    background: url("https://wiki-fr.guildwars2.com/images/2/24/Banni%C3%A8re_2_-_mobile_-_Path_of_Fire.jpg")
      left/cover no-repeat;
  }
  .minerva-footer {
    background: url("https://wiki-fr.guildwars2.com/images/3/3e/Banni%C3%A8re_1_-_mobile_-_Path_of_Fire.jpg")
      right/cover no-repeat;
  }
  footer > .post-content > h2 {
    color: transparent;
    background: url("https://wiki-fr.guildwars2.com/images/2/2d/Logo_footer_mobile_blanc.png")
        left/60% no-repeat,
      url("https://wiki-fr.guildwars2.com/images/a/a3/Logo_ArenaNet_blanc.png")
        right no-repeat;
    height: 7em;
  }
  div.infobox {
    float: none;
    margin: auto;
    margin-top: 10px;
  }
}

/** Version bêta MediaWiki **/

.beta .header .branding-box h1 sup,
.beta .header .branding-box a sup {
  color: white;
}
