/* SUPER ADVENTURE BOX */

/*
** This is the vekktor theme for the Super Adventure Box,
** created for the French Guild Wars 2 Wiki.
** This css should be appended to the existing one in
** the "Vector.css" page.
**
** Additional font families required:
** - Aldrich
*/

/* Colors */
:root {
  --header-image: url("https://wiki-fr.guildwars2.com/images/8/8e/Header_Festival_SAB.png");
  --footer-image: url("https://wiki-fr.guildwars2.com/images/b/ba/SAB_-_footer_-_repeat.png");
  --logo-image: url("");

  --bg-color: #ba1c1c;
  --body-shadow: rgba(179, 236, 255, 0.7);
  --sab-border: 2px solid #fbff00;

  --pers1: #8cccfa;

  --nav-separator: #fbff00;

  --external-link: #fff;
  --external-link-h: #e4e4e4;
  --external-link-v: #fff;

  --nav-title: #ffffff;
  --nav-title2: #fffb00;

  --vector-tab-links: #46ac03;
  --vector-tab-links-a: #363d32;

  --nav-links: #fff;
  --nav-links-h: #fbff00;

  --vector-tab1: #fffff8;
  --vector-tab2: #dfdec4;
  --vector-tab3: #fbff00;

  --vector-tabs-padding-left: 2.5em;
  --content-large-position-y: 7.5em;
}

/* Links in the personal bar */
nav#p-personal ul li {
  font-weight: bold;
}

nav#p-personal ul li#pt-timer a {
  color: purple;
}

nav#p-personal ul li#pt-userpage a {
  color: indigo;
}

nav#p-personal ul li#pt-mytalk a {
  color: blue;
}

nav#p-personal ul li#pt-preferences a {
  color: green;
}

nav#p-personal ul li#pt-watchlist a {
  color: yellow;
}

nav#p-personal ul li#pt-mycontris a {
  color: orange;
}

nav#p-personal ul li#pt-logout a {
  color: red;
}

/* Logo */
div#p-logo a {
  background: transparent !important;
}

/* Footer */
body {
  background-repeat: no-repeat, repeat-x;
  background-size: auto, auto;
  background-position: 0 0, left bottom !important;
}

footer#footer {
  background: url("https://wiki-fr.guildwars2.com/images/2/21/SAB_-_footer_-_stick_left.png")
    no-repeat left bottom 50px;
  background-size: 100px;
  text-shadow: 0 0 0.05em var(--footer2);
  transition: 1s;
}

#footer-info {
  bottom: 10em;
  left: 5em;
  transition: 1s;
}

#footer-places {
  bottom: 8em;
  left: 5em;
  transition: 1s;
}

#footer-icons {
  bottom: 8em;
}

@media (max-width: 800px) {
  footer#footer {
    background-position-x: left -150px, left;
  }

  #footer-info,
  #footer-places {
    left: 0.5em;
  }
}

@media (max-width: 620px) {
  #footer-icons {
    bottom: 12em !important;
    left: 0.25em !important;
  }

  #footer-info {
    bottom: 8.5em;
  }

  #footer-places {
    bottom: 6.75em;
  }
}

/* Icons */
footer#footer li#footer-copyrightico {
  background: url("/images/a/a3/Logo_ArenaNet_blanc.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#pt-anonuserpage,
#pt-userpage a {
  background-image: url("https://wiki-fr.guildwars2.com/images/5/5c/Ic%C3%B4ne_Utilisateur_SAB.png");
  padding-left: 19px !important;
}

/* Border */
#p-views,
#p-cactions {
  border: none;
}

div#content {
  border: var(--sab-border);
  margin-bottom: 4em;
}

nav.vector-menu-tabs ul ul li.selected {
  border-left: var(--sab-border);
  border-right: var(--sab-border);
  border-top: var(--sab-border);
  border-bottom: none;
}

div.vector-menu div.menu {
  border-left: var(--sab-border);
  border-right: var(--sab-border);
  border-bottom: var(--sab-border);
  background-color: var(--vector-tab2);
}

@media (max-width: 805px) {
  #left-navigation nav.vector-menu-tabs ul ul li.selected {
    border-left: none;
  }
  div#content {
    border-left: none;
    border-right: none;
  }
}

div#left-navigation,
div#right-navigation {
  border-left: none;
}

/* Personal tab */
nav#p-personal {
  border-radius: 0;
  background: var(--pers1);
  font-family: Aldrich;
}

/* Vector tabs */
nav.vector-menu-tabs ul li.selected a,
nav.vector-menu-tabs ul li.selected a:visited {
  color: var(--vector-tab-links-a);
  font-family: Aldrich;
  font-weight: bold;
}

nav.vector-menu-tabs ul li.new a,
nav.vector-menu-tabs ul li.new a:visited,
nav.vector-menu-tabs ul li a,
div.vector-menu h3 span {
  color: var(--vector-tab-links);
  font-family: Aldrich;
  font-weight: bold;
}

/* Left navigation */
div#mw-panel #p-logo + nav.portal {
  margin-top: 1.5em;
}

div#mw-panel nav.portal h3 {
  font-family: Aldrich;
  font-weight: bolder;
  text-transform: uppercase;
}

div#mw-panel nav.portal ul {
  margin-left: 0.25em;
}

div#mw-panel nav.portal ul li a,
div#mw-panel nav.portal ul li a:visited {
  font-family: Aldrich;
  color: var(--nav-links);
  font-weight: bold;
}

div#mw-panel nav.portal ul li a:hover,
div#mw-panel nav.portal ul li a:visited:hover {
  color: var(--nav-links-h);
}

/* Upper bar */
#upperBar ul li,
#upperBar ul li:first-child,
#upperBar ul li:last-child {
  font-family: Aldrich;
  font-weight: bold;
  text-shadow: 0 0 0.25em black;
  background: none;
}

#upperBar ul li a {
  background: rgba(0, 0, 0, 0.15);
}
