/*
/* Si certaines de vos modifications s'appliquent aussi à la version mobile, pensez à modifier MediaWiki:Mobile.css
/* Apparence de l'interface "Path of Fire" créée et proposée pour le wiki FR par IruleManik
*/

/* Colors */
:root {
  --header-image: url("https://wiki-fr.guildwars2.com/images/d/da/Header-Path_of_Fire.png");
  --footer-image: url("https://wiki-fr.guildwars2.com/images/e/e7/Footer-Path_of_Fire.png");
  --logo-image: url("https://wiki-fr.guildwars2.com/images/b/b9/Logo_GW2-PoF.png");

  --user-icon: url("/skins/Vector/resources/skins.vector.styles/images/user-avatar.svg?b7f58");
  --user-icon-padding: 16px;
  --alert-bell-icon: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3Ebell%3C/title%3E%3Cpath d=%22M16 7a5.38 5.38 0 00-4.46-4.85C11.6 1.46 11.53 0 10 0S8.4 1.46 8.46 2.15A5.38 5.38 0 004 7v6l-2 2v1h16v-1l-2-2zm-6 13a3 3 0 003-3H7a3 3 0 003 3z%22/%3E%3C/svg%3E");
  --notification-icon: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3Etray%3C/title%3E%3Cpath d=%22M3 1a2 2 0 00-2 2v14a2 2 0 002 2h14a2 2 0 002-2V3a2 2 0 00-2-2zm14 12h-4l-1 2H8l-1-2H3V3h14z%22/%3E%3C/svg%3E");
  --personal-bar-icon-opacity: 0.51; /* Opacity of the icons in the personal bar */
  --additional-personal-icon-color: #000; /* Color for icons on small screen */

  --bg-color: #f4eee6; /* Background color*/
  --popup-bg-color: #fff; /* Background popup panels (notifications, etc) */

  --external-link: #ffc8ad; /* Links in the upperbar (Guild Wars 2, Forum, etc...) and footer */
  --external-link-h: #fff; /* -> hover */
  --external-link-v: #fbdede; /* -> hover */

  --nav-title: #ddc7de; /* Title in the navigation bar and personal area*/
  --nav-title2: #000; /* Title in the left navigation bar*/

  --nav-link: #a36d8f; /* Links in the navigation bar and personal area*/
  --nav-link-h: #8d6ba7; /* -> hover */
  --nav-link-v: #661c9c; /* -> visited */
  --nav-link-vh: #920073; /* -> visited + hover*/

  --main-page-link: var(--nav-link); /* Links on main page*/
  --main-page-link-h: var(--nav-link-h); /* -> hover */
  --main-page-link-v: var(--nav-link-v); /* -> visited */
  --main-page-link-vh: var(--nav-link-vh); /* -> visited + hover*/

  --box-shadows: rgba(110, 24, 115, 0.5); /* Box shadow color */

  --footer1: #665e59; /* Color of the top of the gradient when the footer is resize too much */
  --footer2: #252525; /* Color of the bottom of the gradient when the footer is resize too much */

  --body-head-color: #252525; /* Color of the text of the title of the body */
  --body-color: #252525; /* Color of the text of the body */

  --infobox-color: #252525; /* Color of the text of the infobox */
  --muted-color: #72777d; /* Color of the text with less emphasis */

  --body-bg: #fff; /* Color of the background of the body */
  --additional-body-bg: #f8f9fa; /* Background of some elements like panels, etc... */
  --body-bg-grad1: #eee; /* Color of the gradient step 1 in the main page table */
  --body-bg-grad2: #d6c4de; /* Color of the gradient step 2 in the main page table */

  --body-mainpage_header1: #350f39; /* Color of the gradient step 1 in the main page header */
  --body-mainpage_header2: #2c0d2f; /* Color of the gradient step 2 in the main page header */

  --body-shadow: rgba(158, 50, 193, 0.5); /* Color of the shadow of the body */
  --body-border: #4d1b5a; /* Color of the border of the body */

  --vector-tab1: #f5f5f5; /* Color of the top of the vector tabs */
  --vector-tab2: #ece0e4; /* Color of the bottom of the vector tabs */

  --pers1: var(--bg-color); /* Color of the top of the personal tab */
  --pers2: var(--bg-color); /* Color of the bottom of the personal tab */

  --pers-shadow: transparent; /* Color of the shadow of the personal tab */
  --bg-search: #fff; /* Color of the search bar */

  --content-large-position-y: 4em; /* Vertical position of the content of the page (Starting from the vector tabs) */
  --content-small-position-y: 7.5em; /* Vertical position of the content of the page for small screens */
  --vector-tabs-height: 2.5em; /* Height of the vector tabs */
  --vector-tabs-padding-left: 0em; /* Padding of the first vector tab */
  --footer-height: 13em; /* Height of the footer */

  --transition-duration: 0.25s; /* Duration of the transition between big screen and small screen */
}
