/*** HALLOWEEN ***/

/*
** This is the vekktor theme for Halloween,
** created for the French Guild Wars 2 Wiki.
** This css should be appended to the existing one in
** the "Vector.css" page.
**
** Additional font families required:
** - IM Fell DW Pica
** - Griffy
*/

/* Colors */
:root {
    --header-image: url("https://wiki-fr.guildwars2.com/images/0/0c/Halloween_-_Roi_Dement_-_header.png");
    --footer-image: url("https://wiki-fr.guildwars2.com/images/2/2f/Halloween_-_footer.png");
    --logo-image: url("https://wiki-fr.guildwars2.com/images/4/40/Halloween_-_Roi_Dement_-_logo.png");

    --user-icon: url("/images/5/5a/Icône_utilisateur_Halloween.png");
    --user-icon-padding: 25px;
    --alert-bell-icon: url("https://wiki-fr.guildwars2.com/images/b/ba/OOjs_UI_icon_bell_Halloween.png");
    --notification-icon: url("https://wiki-fr.guildwars2.com/images/8/8e/Ic%C3%B4ne_Halloween_notifications.png");
    --personal-bar-icon-opacity: 0.75;
    --additional-personal-icon-color: #ff7b00;

    --bg-color: #291b15;
    --body-bg: #f2ede4;
    --body-bg-grad1: #eee;
    --body-bg-grad2: rgba(179, 143, 86, 0.6);

    --external-link: #f2c449;
    --external-link-h: #ff9b3d;
    --external-link-v: #a18129;

    --nav-title2: #de8c09;
    --nav-link: #fadeac;
    --nav-link-h: #f2cb63;
    --nav-link-v: #f2c449;
    --nav-link-vh: #b86827;

    --main-page-link: #e07800;
    --main-page-link-h: #bf6804;
    --main-page-link-v: #e07800;
    --main-page-link-vh: #bf6804;

    --footer-text-color: white;

    --plus-color: #2b1f1a;
    --plus-color-h: #3f1706;

    --box-shadows: rgba(224, 149, 27, 0.6);
    --body-shadow: rgba(224, 149, 27, 0.6);
    --pers-shadow: rgba(66, 156, 36, 0.5);

    --footer1: #665e59;
    --footer2: #252525;

    --pers1: #262019;
    --pers2: #756d63;

    --vector-tab1: #b9a587;
    --vector-tab2: #e9d2aa;

    --body-mainpage_header1: #242221;
    --body-mainpage_header2: #583922;
    --nav-title: #de8c09;

    --halloween-border: 1px solid #2b1f1a;

    --main-page-a: #b86827;
    --main-page-ah: #fadeac;
    --main-page-av: #de8c09;
    --main-page-avh: #f2cb63;

    --vector-tabs-padding-left: 0em;
    --content-large-position-y: 4em;

    --minimum-page-size: 1040px;
    --footer-offset-1: -20px;
    --footer-offset-2: -40px;
    --footer-offset-3: -80px;
    --footer-offset-4: -120px;
}

/* Font family*/
div#content h1,
div#content h2,
div#content #firstHeading,
footer#footer,
div#mw-panel {
    font-family: "IM Fell DW Pica", EasonPro, serif;
}

nav#p-personal ul li,
nav.vector-menu-tabs ul li.selected a,
nav.vector-menu-tabs ul li.selected a:visited,
div#mw-head div.vector-menu h3,
#mainpagenavigation th {
    font-family: Griffy, serif;
}

nav.vector-menu-tabs ul li a {
    font-family: Griffy, serif;
    font-size: 1.05em;
    padding-top: 0.8em;
}

div#mw-panel nav.portal ul li a {
    font-family: Griffy, serif;
    font-size: 1.25em;
}

div#mw-panel nav.portal h3 {
    font-family: Griffy, serif;
    font-size: 1.05em;
}

nav#p-personal a {
    font-family: Griffy, serif;
    font-size: 1.2em;
}

@media (min-width: 805px) {
    div#mw-panel nav.portal {
        margin: 0;
    }
}

div.vector-menu h3 span,
div.menu li span a,
div.menu li span a:visited {
    color: var(--plus-color);
}

div.menu li span a:hover,
div.menu li span a:visited:hover {
    color: var(--plus-color-h);
}

.vector-menu-portal .vector-menu-heading {
    font-size: 0.9rem;
    color: #fff1e1;
}

/* Footer */
footer#footer {
    font-size: 1.25em;
}

/* Icons */
#pt-notifications-alert .mw-echo-notifications-badge:before {
    background-image: url(https://wiki-fr.guildwars2.com/images/a/af/Ic%C3%B4ne_alerte_Halloween.png);
}

#pt-notifications-notice .mw-echo-notifications-badge:before {
    background-image: url(https://wiki-fr.guildwars2.com/images/e/e6/Ic%C3%B4ne_courrier_Halloween.png);
}

#pt-notifications-alert .mw-echo-notifications-badge:after,
#pt-notifications-notice .mw-echo-notifications-badge:after {
    top: 9px;
    background-color: #9b7322;
    border: 1px solid #d06400;
    font-family: "IM Fell DW Pica", EasonPro, serif;
}

/* Copyright icon */
footer#footer li#footer-copyrightico {
    background-image: url("/images/a/a3/Logo_ArenaNet_blanc.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Border */
div#content {
    border: var(--halloween-border);
}

nav.vector-menu-tabs ul ul li.selected {
    border-left: var(--halloween-border);
    border-right: var(--halloween-border);
    border-top: var(--halloween-border);
    border-bottom: none;
}

div.vector-menu div.menu {
    border-left: var(--halloween-border);
    border-right: var(--halloween-border);
    border-bottom: var(--halloween-border);
    background-color: var(--vector-tab2);
}

@media (max-width: 805px) {
    #left-navigation nav.vector-menu-tabs ul ul li.selected {
        border-left: none;
    }
    div#content {
        border-left: none;
        border-right: none;
    }
}

/* Change shadow size */
.mw-body {
    box-shadow: var(--body-shadow) -0.25em 0 2em;
}

nav#p-personal {
    box-shadow: var(--pers-shadow) 0em 0 2em;
    font-size: 1.05em;
}

/* Personal tab */
#pt-anonuserpage {
    color: #fffbfb;
}

/* Left navigation */
div#mw-panel nav.portal h3 {
    color: var(--nav-title2);
}

div#mw-panel #p-logo + nav.portal {
    border-top: none;
}

/* Vector tab */
nav.vector-menu-tabs ul li a {
    color: var(--nav-link-vh);
}

div.vector-menu ul {
    color: var(--body-bg);
}

div.vector-menu li a {
    color: var(--nav-title2);
}

div.vector-menu li a:hover {
    color: var(--nav-link-vh);
}

/* Main page */
#mainpagenavigation a {
    color: var(--main-page-a);
}

#mainpagenavigation a:hover {
    color: var(--main-page-ah);
}

#mainpagenavigation a:visited {
    color: var(--main-page-av);
}

#mainpagenavigation a:visited:hover {
    color: var(--main-page-avh);
}

/* Accentuate some text to be more easily readable */
#upperBar ul li a,
footer#footer ul li {
    text-shadow: 0px 0px 4px #000;
}

/* Star */
#ca-unwatch.icon a,
#ca-watch.icon a {
    background-position-y: 15px;
}

.vector-menu-tabs ul #ca-watch.icon a::before,
.vector-menu-tabs ul #ca-watch.icon a:focus::before {
    background-image: url(https://wiki-fr.guildwars2.com/images/a/a6/IruleManik-%C3%A9toile_pr%C3%A9f%C3%A9rence.png);
}

.vector-menu-tabs ul #ca-unwatch.icon a::before,
.vector-menu-tabs ul #ca-unwatch.icon a:focus::before {
    background-image: url(https://wiki-fr.guildwars2.com/images/5/52/IruleManik-%C3%A9toile_pr%C3%A9f%C3%A9rence_2.png);
}

.vector-menu-tabs ul #ca-watch.icon a:hover::before {
    background-image: url(https://wiki-fr.guildwars2.com/images/5/52/IruleManik-%C3%A9toile_pr%C3%A9f%C3%A9rence_2.png);
}

.vector-menu-tabs ul #ca-unwatch.icon a:hover::before {
    background-image: url(https://wiki-fr.guildwars2.com/images/a/a6/IruleManik-%C3%A9toile_pr%C3%A9f%C3%A9rence.png);
}
