/*** HALLOWEEN DARK THEME ***/

/*
** This is the dark theme for the halloween theme,
** created for the French Guild Wars 2 Wiki.
** This css should be appended to the vekktor dark theme css.
** This css should be used with the halloween css.
**
** Additional font families required:
** <None>
*/

/* Colors */
:root {
  --bg-color: #352924;
  --box-shadows: rgba(224, 149, 27, 0.6);
  --body-shadow: rgba(224, 149, 27, 0.6);
  --pers-shadow: rgba(66, 156, 36, 0.5);
  --halloween-border: 2px solid #c04d1c;
  --body-border: #c04d1c;
  --external-link: #f2c449;
  --external-link-h: #f2cb63;
  --external-link-v: #f2c449;
  --nav-title: #de8c09;
  --nav-link: #fadeac;
  --nav-link-h: #f2cb63;
  --nav-link-v: #f2c449;
  --nav-link-vh: #b86827;
  --body-bg-grad2: #634e40;
  --plus-color: #b86827;

  --links: #f5d19c;
  --links-visited: #e7c67e;
  --links-external: #edff87;
}
