/* Le CSS placé ici n’affectera que les utilisateurs de l’habillage Minerva */

/*
*
* Apparence standard proposée pour le wiki FR
*
*/

/** Header **/

.header .branding-box h1 span,
.header .branding-box a span {
  color: transparent;
}

.header .branding-box {
  background: url("https://wiki-fr.guildwars2.com/images/f/f0/Logo-GW2Wiki-Minerva-ui.png")
    left/97% no-repeat;
  width: 15.4em;
}

.header .search-box .search {
  margin-left: 1em;
}

/** Footer **/

footer > .post-content > h2 {
  color: transparent;
  background: url("https://wiki-fr.guildwars2.com/images/b/b9/Logo_footer_mobile.png")
      left/37% no-repeat,
    url("https://wiki-fr.guildwars2.com/images/c/c0/Logo_ArenaNet_mobile.png")
      right/20% no-repeat;
  height: 10em;
}

footer > .post-content {
  color: white;
}

footer > .post-content a {
  color: #e8c2e5;
}

/*
* THEME POF - PATH OF FIRE
* Proposé pour le wiki FR
* Version Minerva UI
*/

/** Header **/

.header-container.header-chrome {
  background: url("https://wiki-fr.guildwars2.com/images/3/3e/Banni%C3%A8re_1_-_mobile_-_Path_of_Fire.jpg")
    center/cover no-repeat;
}

/*** Logo ***/

.header .branding-box {
  background: url("https://wiki-fr.guildwars2.com/images/0/04/Logo-GW2Wiki-Minerva-ui-blanc.png")
    left/97% no-repeat;
  width: 15.4em;
}

/** Footer **/

.minerva-footer {
  overflow: auto;
  padding-bottom: 6px;
  background: url("https://wiki-fr.guildwars2.com/images/2/24/Banni%C3%A8re_2_-_mobile_-_Path_of_Fire.jpg")
    left/cover no-repeat;
}

/*** Licences ***/

footer > .post-content > h2 {
  color: transparent;
  background: url("https://wiki-fr.guildwars2.com/images/2/2d/Logo_footer_mobile_blanc.png")
      left/37% no-repeat,
    url("https://wiki-fr.guildwars2.com/images/a/a3/Logo_ArenaNet_blanc.png")
      right no-repeat;
  height: 10em;
}

/** Icônes blanches Minevera ui **/

.mw-ui-icon-minerva-mainmenu:before {
  background-image: linear-gradient(transparent, transparent),
    url("https://wiki-fr.guildwars2.com/images/1/1e/Minerva-ui-white-mainmenu.png");
}

.mw-ui-icon-wikimedia-bellOutline-base20:before {
  background-image: linear-gradient(transparent, transparent),
    url("https://wiki-fr.guildwars2.com/images/c/cd/Minerva-ui-white-bell.png");
}

.mw-ui-icon-wikimedia-search-base20:before,
.mw-ui-background-icon-search {
  background-image: linear-gradient(transparent, transparent),
    url("https://wiki-fr.guildwars2.com/images/9/9d/Minerva-ui-white-inputsearch.png");
}

.mw-ui-icon-mf-close-base20:before {
  background-image: url("https://wiki-fr.guildwars2.com/images/e/ee/Minerva-ui-white-cross.png");
}

#content {
  background-color: #ffffff;
  background-image: url("https://wiki-fr.guildwars2.com/images/4/4a/Accueil-Balthazar-PoF.png"),
    url("https://wiki-fr.guildwars2.com/images/2/28/Accueil-Monture-PoF.png");
  background-attachment: fixed, fixed;
  background-position: left, right;
  background-size: 24%, 20%;
  background-repeat: no-repeat;
}

/*
**** Page d'accueil - Main page
*/

/**
* PAGE d'ACCUEIL
**/

div.mainpage {
  width: 100%;
}

.mainpagebackground {
  padding: 0.5em 5%;
  height: 80%;
}

.mainpage a {
  color: #a36d8f;
}

.mainpage a:hover {
  color: #8d6ba7;
}

.mainpage a:visited {
  color: #661c9c;
}

.mainpage a:visited:hover {
  color: #920073;
}
