/* Le CSS placé ici affectera les utilisateurs de l’habillage Vector. */
/* Vekktor 2, a Vector fix for tiny screens and tiny genious, by Skrool*/

/*
/* Si certaines de vos modifications s'appliquent aussi à la version mobile, pensez à modifier MediaWiki:Mobile.css
/* Apparence de l'interface "End of Dragons" créée et proposée pour le wiki FR par IruleManik
*/

/* Colors */
:root {
    --header-image: url(https://wiki-fr.guildwars2.com/images/4/47/Header-End_of_dragons.png);
    --footer-image: url(https://wiki-fr.guildwars2.com/images/3/3c/Skin_footer.png);
    --logo-image: url(https://wiki-fr.guildwars2.com/images/4/4f/Logo_GW2-EoD.png);
    --user-icon: url(/skins/Vector/resources/skins.vector.styles/images/user-avatar.svg?b7f58);
    --user-icon-padding: 16px;
    --alert-bell-icon: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3Ebell%3C/title%3E%3Cpath d=%22M16 7a5.38 5.38 0 00-4.46-4.85C11.6 1.46 11.53 0 10 0S8.4 1.46 8.46 2.15A5.38 5.38 0 004 7v6l-2 2v1h16v-1l-2-2zm-6 13a3 3 0 003-3H7a3 3 0 003 3z%22/%3E%3C/svg%3E");
    --notification-icon: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3Etray%3C/title%3E%3Cpath d=%22M3 1a2 2 0 00-2 2v14a2 2 0 002 2h14a2 2 0 002-2V3a2 2 0 00-2-2zm14 12h-4l-1 2H8l-1-2H3V3h14z%22/%3E%3C/svg%3E");
    --personal-bar-icon-opacity: 0.51; /* Opacity of the icons in the personal bar */
    --additional-personal-icon-color: #000; /* Color for icons on small screen */
    --bg-color: #f8feff; /* Background color*/
    --popup-bg-color: #fff; /* Background popup panels (notifications, etc) */
    --external-link: #adffca; /* Links in the upperbar (Guild Wars 2, Forum, etc...) and footer */
    --external-link-h: #fff; /* -> hover */
    --external-link-v: #def5fb; /* -> hover */
    --nav-title: #c7dedc; /* Title in the navigation bar and personal area*/
    --nav-title2: #000; /* Title in the left navigation bar*/
    --nav-link: #01afaf; /* Links in the navigation bar and personal area*/
    --nav-link-h: #00e3b0; /* -> hover */
    --nav-link-v: #038f8f; /* -> visited */
    --nav-link-vh: #00e3b0; /* -> visited + hover */
    --main-page-link: var(--nav-link); /* Links on main page*/
    --main-page-link-h: var(--nav-link-h); /* -> hover */
    --main-page-link-v: var(--nav-link-v); /* -> visited */
    --main-page-link-vh: var(--nav-link-vh); /* -> visited + hover */
    --footer-link: var(--nav-link); /* Links on the footer*/
    --footer-link-h: var(--nav-link-h); /* -> hover */
    --footer-link-v: var(--nav-link-v); /* -> visited */
    --footer-link-vh: var(--nav-link-vh); /* -> visited + hover */
    --footer-text-color: black; /* Color of the footer text */
    --box-shadows: rgb(39 153 136 / 50%); /* Box shadow color */
    --footer1: #7a8b8c; /* Color of the top of the gradient when the footer is resize too much */
    --footer2: #252525; /* Color of the bottom of the gradient when the footer is resize too much */
    --body-head-color: #252525; /* Color of the text of the title of the body */
    --body-color: #252525; /* Color of the text of the body */
    --infobox-color: #252525; /* Color of the text of the infobox */
    --muted-color: #72777d; /* Color with less emphasis */
    --body-bg: #fff; /* Color of the background of the body */
    --additional-body-bg: #f8f9fa; /* Background of some elements like panels, etc... */
    --body-bg-grad1: #eee; /* Color of the gradient step 1 in the main page table */
    --body-bg-grad2: #c4dedd; /* Color of the gradient step 2 in the main page table */
    --body-mainpage_header1: #064f5a; /* Color of the gradient step 1 in the main page header */
    --body-mainpage_header2: #245f62; /* Color of the gradient step 2 in the main page header */
    --body-shadow: rgba(5, 175, 142, 0.5); /* Color of the shadow of the body */
    --body-border: #0a898e; /* Color of the border of the body */
    --vector-tab1: #f5f5f5; /* Color of the top of the vector tabs */
    --vector-tab2: #d7f7ea; /* Color of the bottom of the vector tabs */
    --pers1: var(--bg-color); /* Color of the top of the personal tab */
    --pers2: var(--bg-color); /* Color of the bottom of the personal tab */
    --pers-shadow: transparent; /* Color of the shadow of the personal tab */
    --bg-search: #fff; /* Color of the search bar */
    --content-large-position-y: 4em; /* Vertical position of the content of the page (Starting from the vector tabs) */
    --content-small-position-y: 7.5em; /* Vertical position of the content of the page for small screens */
    --vector-tabs-height: 2.5em; /* Height of the vector tabs */
    --vector-tabs-padding-left: 0em; /* Padding of the first vector tab */
    --footer-height: 9em; /* Height of the footer */
    --minimum-page-size: 960px; /* Minimum size of a page: should be bigger than the size of the left navigation */
    --transition-duration: 0.25s; /* Duration of the transition between big screen and small screen */
    --footer-offset-1: 0px; /* Offset to apply on the footer on various screen size to make it still fit */
    --footer-offset-2: -10px; /* Offset to apply on the footer on various screen size to make it still fit */
    --footer-offset-3: -20px; /* Offset to apply on the footer on various screen size to make it still fit */
    --footer-offset-4: -80px; /* Offset to apply on the footer on various screen size to make it still fit */
}

/* HTML */
html {
    height: auto;
}

/* Titles */
div#content h1,
div#content h2,
div#content #firstHeading {
    font-family: Eason Pro, Times New Roman, serif;
}

/* Notices */
div.mw-dismissable-notice .mw-dismissable-notice-body {
    margin: 0;
    margin-bottom: 0.5em;
}
div.mw-dismissable-notice .mw-dismissable-notice-close {
    margin-right: 5px;
}

/* Masthead links (Gw2, Forums, assistance, Wiki...) */
#upperBar {
    position: absolute;
    top: 0;
    left: 35px;
    height: 30px;
    z-index: 2;
}

#upperBar ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    place-content: flex-end;
}

#upperBar ul li {
    margin: 0;
    padding: 0px;
    display: inline-block;
    font-family: "EasonPro", "Times New Roman", "serif";
}

#upperBar ul li.selected a {
    background: none;
}

#upperBar ul li a:hover {
    background: none;
    text-decoration: none;
    color: var(--external-link-h);
}

#upperBar ul li:first-child a {
    background-position: -121px -30px;
}

#upperBar ul li:first-child + li a {
    background-position: -206px -30px;
}

#upperBar ul li:first-child + li + li a {
    background-position: -258px -30px;
}

#upperBar ul li:first-child + li + li + li a {
    background-position: -274px -30px;
}

/* Masthead links EoD */
#upperBar ul li:first-child {
    background: url("https://wiki-fr.guildwars2.com/images/f/f3/Nav_external_eod.png")
        no-repeat 0 0;
    padding-left: 121px;
}

#upperBar ul li:last-child {
    background: url("https://wiki-fr.guildwars2.com/images/f/f3/Nav_external_eod.png")
        no-repeat 100% 0;
    padding-right: 229px;
}

#upperBar ul li a {
    color: var(--external-link);
    background: url("https://wiki-fr.guildwars2.com/images/f/f3/Nav_external_eod.png");
    text-transform: uppercase;
    font-size: 12px;
    padding: 8px 10px;
    line-height: 2.6;
}

/* Body content */
#bodyContent {
    font-size: 0.825em;
}

/* Header */
body {
    background: var(--header-image) no-repeat, var(--footer-image) no-repeat;
    background-position: 0 0, center bottom var(--footer-offset-1);
    background-size: auto, 100%;

    display: flex;
    flex-direction: column;

    background-color: var(--bg-color);

    min-height: calc(max(var(--minimum-page-size), 100vh));
    height: max-content;
    width: 100%;

    transition: background 0.2s;
}

div#mw-page-base {
    background: none;
    height: calc(var(--content-large-position-y) + var(--vector-tabs-height));
    transition-duration: var(--transition-duration);
}

div#p-logo a {
    background-image: var(--logo-image);
    transform: scale(1);
    transition-duration: var(--transition-duration);
    width: 100%;
    height: 100%;
    z-index: 3;
}

div#p-logo {
    z-index: 4;
}

.mw-body {
    padding: 1em;
    margin-left: 11em;
    border-left: none;
    border: 1px solid var(--body-border);
    border-right-width: 0;
    margin-top: -1px;
    background-color: var(--body-bg);
    color: var(--body-color);
    direction: ltr;
    box-shadow: var(--body-shadow) 0 0 0.75em;
    transition-duration: var(--transition-duration);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--body-head-color);
}

div .infobox {
    color: var(--infobox-color);
}

/* Personal panel */
#pt-notifications-notice .mw-echo-notifications-badge,
#pt-notifications-alert .mw-echo-notifications-badge {
    display: inline-block;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    top: -1px;
}
#pt-notifications-alert .mw-echo-notifications-badge,
#pt-notifications-notice .mw-echo-notifications-badge {
    margin: 0px;
}

nav#p-personal {
    background: linear-gradient(var(--pers2), var(--pers1));
    box-shadow: var(--pers-shadow) 0 0 0.75em;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0 0 0.5em;
    width: auto;
}

nav#p-personal ul {
    padding-left: 0;
    padding-right: 0.5em;
    display: flex;
}

.oo-ui-icon-bell,
.mw-ui-icon-bell::before {
    background-image: linear-gradient(transparent, transparent),
        var(--alert-bell-icon);
}

.oo-ui-icon-tray,
.mw-ui-icon-tray::before {
    background-image: linear-gradient(transparent, transparent),
        var(--notification-icon);
}

#pt-notifications-alert
    .mw-echo-notifications-badge.mw-echo-notifications-badge-all-read,
#pt-notifications-notice
    .mw-echo-notifications-badge.mw-echo-notifications-badge-all-read {
    opacity: var(--personal-bar-icon-opacity);
}

#pt-userpage,
#pt-anonuserpage {
    flex-grow: 1;
}

#pt-userpage a,
#pt-anonuserpage a {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 1.16666667em;
    padding-top: 0.5em !important;
    background-image: var(--user-icon);
    padding-left: var(--user-icon-padding) !important;
}

nav#p-personal a {
    color: var(--nav-link);
}

nav#p-personal a:hover {
    color: var(--nav-link-h);
}

nav#p-personal a:visited {
    color: var(--nav-link-v);
}

nav#p-personal a:visited:hover {
    color: var(--nav-link-vh);
}

/* Vector Tabs EoD (buttons) */
nav.vector-menu-tabs ul li a {
    color: var(--nav-link-v);
}

#p-cactions,
nav.vector-menu-tabs ul {
    background: linear-gradient(var(--vector-tab1), var(--vector-tab2));
    color: var(--nav-title2);
    padding: 0;
}

.vector-menu-tabs {
    padding-left: 0;
}

.vector-menu-tabs,
.vector-menu-tabs a,
#mw-head .vector-menu-dropdown h3 {
    background-image: linear-gradient(
        to bottom,
        rgba(167, 215, 249, 0) 0,
        var(--body-border) 100%
    );
}

nav.vector-menu-tabs ul li {
    background: none;
}

nav.vector-menu-tabs > div.vector-menu-content {
    height: var(--vector-tabs-height);
}

nav.vector-menu-tabs .mw-watchlink.icon a {
    width: 2.15384615rem;
    height: 100%;
    overflow: hidden;
    padding: 0;
    font-size: 0;
}

nav.vector-menu-tabs .mw-watchlink.icon a::before {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    content: "";
    display: block;
    position: absolute;
    top: 0.6692308rem;
    left: 0.38461538rem;
    width: 1.23076923rem;
    height: 1.23076923rem;
}

nav.vector-menu-tabs li a {
    height: 100%;
}

nav.vector-menu-tabs ul li,
nav.vector-menu-tabs span {
    display: inline-block;
    background: none;
}

div#left-navigation,
div#right-navigation {
    position: absolute;

    display: flex;

    padding-top: 0;
    margin: 0;
    top: calc(var(--content-large-position-y) - 1px);

    transition-duration: var(--transition-duration);
}

div#left-navigation {
    left: calc(var(--vector-tabs-padding-left) + 11em);
    justify-content: flex-start;
    border-left: solid var(--body-border) 1px;
}

div#right-navigation {
    right: 0;
    justify-content: flex-end;
}

div#left-navigation::before {
    display: block;
    content: "";
    position: absolute;
    width: 0.75em;
    height: var(--vector-tabs-height);
    right: 100%;
    background: linear-gradient(to right, transparent, var(--body-shadow));
    opacity: 0.25;
    transition-duration: var(--transition-duration);
}

#p-views {
    border-left: solid 1px var(--body-border);
}

@media (min-width: 805px) {
    #p-cactions {
        border-right: solid 1px var(--body-border);
    }
}

nav.vector-menu-tabs ul li.selected {
    background: var(--body-bg);
    border-bottom: solid var(--body-bg) 1px;
    overflow: hidden;
}

nav.vector-menu-tabs ul li.selected a,
nav.vector-menu-tabs ul li.selected a:visited {
    color: var(--nav-title2);
}

/* Vector Menu EoD (dropdown menu) */
.vector-menu-dropdown ul.vector-menu-content-list li a {
    color: var(--body-head-color);
    font-weight: bold;
    background: var(--body-bg);
}

.vector-menu-dropdown .vector-menu-content {
    border-color: var(--body-border);
}

.vector-menu-dropdown .vector-menu-content div.vector-menu li a {
    color: var(--nav-link);
}

div.vector-menu li a:visited {
    color: var(--nav-link-v);
}

div.vector-menu li a:hover {
    color: var(--nav-link-h);
}

div.vector-menu li a:visited:hover {
    color: var(--nav-link-vh);
}

div#mw-head div.vector-menu h3 {
    display: inline-block;
    background: none;
}

/* Star EoD */
.vector-menu-tabs ul #ca-watch.icon a::before {
    background-image: url(https://wiki-fr.guildwars2.com/images/a/aa/Etoile_de_pr%C3%A9f%C3%A9rence_vide_-_EoD.png);
}

.vector-menu-tabs ul #ca-unwatch.icon a::before {
    background-image: url(https://wiki-fr.guildwars2.com/images/d/d2/Etoile_de_pr%C3%A9f%C3%A9rence_-_EoD.png);
}

.vector-menu-tabs ul #ca-watch.icon a:hover::before {
    background-image: url(https://wiki-fr.guildwars2.com/images/d/d2/Etoile_de_pr%C3%A9f%C3%A9rence_-_EoD.png);
}

.vector-menu-tabs ul #ca-unwatch.icon a:hover::before {
    background-image: url(https://wiki-fr.guildwars2.com/images/a/aa/Etoile_de_pr%C3%A9f%C3%A9rence_vide_-_EoD.png);
}

#simpleSearch {
    background-color: var(--bg-search);
}

/* Sidebar */
div#mw-panel {
    padding-left: 0.5em;
    transition-duration: var(--transition-duration);
}

div#mw-panel nav.portal h3 {
    font-weight: bold;
    color: var(--nav-title2);
    padding: 0 1.75em 0.25em 0.25em;
    cursor: default;
    border: none;
    font-size: 0.75em;
}

div#mw-panel.collapsible-nav nav.portal.persistent h3,
div#mw-panel.collapsible-nav nav.portal.expanded h3 {
    background: none;
    background-position: bottom left;
    padding: 0px 0px 0.3em;
    font-size: 0.8em;
    margin: 0;
}

#mw-panel.collapsible-nav .portal {
    background-image: none;
}

.portal_toggle_button {
    color: var(--nav-title2);
    position: absolute;
    top: 1.5em;
    left: calc(11.75em - 1px);
    height: var(--content-small-position-y);
    border: none;
    background: var(--bg-color);
    display: none;
    opacity: 0.75;
    transition: 0.75s;
    max-width: 0;
    cursor: pointer;
    padding: 0;
    width: 2em;
}

#mw-panel.force-open .portal_toggle_button,
.portal_toggle_button:hover {
    opacity: 1;
}

div#mw-panel nav.portal ul li a {
    color: var(--nav-link);
}

div#mw-panel nav.portal ul li a:visited {
    color: var(--nav-link-v);
}

div#mw-panel nav.portal ul li a:hover {
    color: var(--nav-link-h);
}

div#mw-panel nav.portal ul li a:visited:hover {
    color: var(--nav-link-vh);
}

/* Footer */
footer#footer {
    position: relative;

    margin: 0;
    padding: 0;
    margin-top: auto;

    width: 100%;
    min-height: var(--footer-height);
    left: 0;

    pointer-events: none;
}

footer#footer > ul {
    pointer-events: auto;
}

#footer-info {
    bottom: 2em;
    left: 2em;
}

#footer-places {
    bottom: 0.5em;
    left: 2em;
}

#footer-icons {
    float: none;
    bottom: 0.5em;
    right: 2em;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

footer#footer #footer-info li {
    color: var(--footer-text-color);
}

/* Footer position big screen */
@media (min-width: 900px) {
    body {
        background-position: 0 0, center bottom var(--footer-offset-2);
    }
}

@media (min-width: 1000px) {
    body {
        background-position: 0 0, center bottom var(--footer-offset-3);
    }
}

@media (min-width: 1400px) {
    body {
        background-position: 0 0, center bottom var(--footer-offset-4);
    }
}

/* Footer too small */
@media (max-width: 950px) {
    #footer-icons {
        width: min-content;
        flex-direction: column-reverse;
    }
}

@media (max-width: 805px) {
    body {
        background-position: 0 1.33em, center bottom 0px;
        overflow-x: hidden;
    }
}

@media (max-width: 620px) {
    footer#footer {
        --small-footer-height: 12em;
        background: linear-gradient(var(--footer1), var(--footer2));
        min-height: calc(max(var(--footer-height), var(--small-footer-height)));
        max-height: calc(max(var(--footer-height), var(--small-footer-height)));
    }

    #footer-info {
        bottom: 5em;
        left: 1.5em;
        right: 2em;
        text-align: center;
    }

    footer#footer #footer-info li {
        margin: 0;
    }

    #footer-places {
        bottom: 0.5em;
        left: 1.5em;
        right: 2em;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    footer#footer #footer-icons {
        bottom: 8.5em;
        left: 1.5em;
        right: 2em;
        width: auto;

        flex-direction: row;
        justify-content: center;
    }
}

@media (max-width: 500px) {
    footer#footer #footer-places li {
        line-height: 1em;
    }
}

/* Footer text and icons */
footer#footer li#footer-copyrightico img {
    display: none;
}

footer#footer ul li {
    margin-left: 10px;
    padding: 5px;
    color: var(--footer-link);
}

footer#footer ul {
    position: absolute;
}

footer#footer ul li a {
    color: var(--footer-link);
}

footer#footer ul li a:visited {
    color: var(--footer-link-v);
}

footer#footer ul li a:hover,
footer#footer ul li a:visited:hover {
    color: var(--footer-link-h);
}

footer#footer #footer-icons li {
    float: none;
    text-align: center;
}

footer#footer li#footer-copyrightico {
    margin-top: 5px;
    width: 83px;
    height: 34px;
    padding: 0;
    background-image: url(https://wiki-fr.guildwars2.com/images/4/48/Logo_ArenaNet_EoD.png);
    background-size: contain;
}

footer#footer li#footer-copyrightico a {
    width: 100%;
    height: 100%;
    display: block;
}

body {
    pointer-events: none;
}

body > div,
body > footer {
    pointer-events: auto;
}

/**** Small screens *****/
@media (max-width: 1000px) {
    div#upperBar {
        right: 0.5em;
        top: 1.6em;
        left: unset;
        max-width: 60%;
    }

    #upperBar ul li {
        padding: 0 !important;
    }

    #upperBar ul li a {
        background: none;
    }
}

@media (max-width: 805px) {
    /*** Page layout ***/
    div#mw-panel {
        left: -10em;
        z-index: 8;
    }

    div.mw-body {
        margin-left: 0;
        border-left: none;
        overflow-x: hidden;
    }

    body {
        overflow-x: hidden;
    }

    div#p-logo {
        position: absolute;
        height: 0;
    }

    div#p-logo a {
        margin-top: 2.5em;
        margin-left: 11.5em;
        width: 4em;
        height: 4em;
        background-size: contain;
    }

    div#mw-panel #p-logo + nav.portal {
        margin-top: 1.33em;
    }

    div#mw-panel.force-open {
        left: -1.25em;
    }

    .force-open #p-logo a {
        margin-left: 11em;
    }

    div#left-navigation {
        left: -1px !important;
        top: calc(var(--content-small-position-y) - 1px);
    }

    div#right-navigation {
        width: 100%;
        top: calc(var(--content-small-position-y) - 1px);
    }

    div#left-navigation::before {
        left: -0.75em;
    }

    .portal {
        background-color: var(--bg-color);
    }

    div#mw-page-base {
        background: none;
        height: calc(
            var(--content-small-position-y) + var(--vector-tabs-height)
        );
    }

    div#content {
        padding-top: 3em;
    }

    nav#p-personal {
        width: 100%;
        border-radius: 0;
    }

    #p-search {
        position: absolute;
        float: none;
        top: calc(var(--vector-tabs-height) + 0.25em);
        left: 0;
        right: 0;
        margin: 0;
    }

    div#simpleSearch {
        width: 100%;
        max-width: unset;
        padding-right: 0;
        border-left: 0;
        border-right: 0;
        transition-duration: var(--transition-duration);
    }

    div#simpleSearch #searchButton {
        right: 0;
    }

    div.vector-menu div.menu {
        left: unset;
        right: -1px;
    }

    .portal_toggle_button {
        display: block;
        max-width: 2em;
    }

    /*** Content ***/
    /* Infobox */
    .infobox {
        width: 100% !important;
        margin: 0 !important;
        display: inline-block;
        float: none !important;
    }

    .infobox + blockquote {
        display: grid;
        width: 90%;
        left: 10%;
        position: relative;
        margin: 0 !important;
        padding: 0 !important;
    }

    .infobox + blockquote > p {
        margin-left: 1em;
    }

    /* Table */
    table {
        max-width: 100% !important;
        width: 100%;
    }

    table:not(.diff) > thead,
    table:not(.diff) > tbody,
    table:not(.diff) > tfoot {
        width: 100%;
        display: table;
    }

    /* Image in table (map infobox for example) */
    table img {
        max-width: 100%;
        height: auto;
    }

    /* TOC */
    #toc {
        width: 100%;
        display: block;
        float: right;
    }

    #toc ul,
    .toc ul {
        margin-left: 1em;
    }
}

/* Personal header icons */
#pt-notifications-alert .mw-echo-notifications-badge::after,
#pt-notifications-notice .mw-echo-notifications-badge::after {
    top: 9px;
}

#pt-notifications-alert .mw-echo-notifications-badge::before,
#pt-notifications-notice .mw-echo-notifications-badge::before {
    top: 49.66em;
    background-size: 20px;
}

#p-personal li {
    margin-top: 0.25em;
    float: none;
}

@media (max-width: 760px) {
    #pt-mytalk a,
    #pt-preferences a,
    #pt-watchlist a,
    #pt-mycontris a,
    #pt-logout a {
        position: relative;
        display: block;
        width: 1.5em;
        height: 1.5em;
        top: -49.8em;
    }

    #p-personal li a::before {
        position: absolute;
        top: 49.6em;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100%;
        mask-size: 100%;
        width: 16px;
        height: 16px;
        display: inline-block;
        background: var(--additional-personal-icon-color);
        opacity: var(--personal-bar-icon-opacity);
    }

    #pt-mytalk a:before {
        -webkit-mask-image: url(https://wiki-fr.guildwars2.com/images/8/8d/Utilisateur_Skrool_-_Discussion.png);
        mask-image: url(https://wiki-fr.guildwars2.com/images/8/8d/Utilisateur_Skrool_-_Discussion.png);
        content: " ";
    }

    #pt-preferences a:before {
        -webkit-mask-image: url(https://wiki-fr.guildwars2.com/images/d/d2/Utilisateur_Skrool_-_Preferences.png);
        mask-image: url(https://wiki-fr.guildwars2.com/images/d/d2/Utilisateur_Skrool_-_Preferences.png);
        content: " ";
    }

    #pt-watchlist a:before {
        -webkit-mask-image: url(https://wiki-fr.guildwars2.com/images/0/07/Utilisateur_Skrool_-_Watchlist.png);
        mask-image: url(https://wiki-fr.guildwars2.com/images/0/07/Utilisateur_Skrool_-_Watchlist.png);
        content: " ";
    }

    #pt-mycontris a:before {
        -webkit-mask-image: url(https://wiki-fr.guildwars2.com/images/e/ef/Utilisateur_Skrool_-_Contributions.png);
        mask-image: url(https://wiki-fr.guildwars2.com/images/e/ef/Utilisateur_Skrool_-_Contributions.png);
        content: " ";
    }

    #pt-logout a:before {
        -webkit-mask-image: url(https://wiki-fr.guildwars2.com/images/b/bb/Utilisateur_Skrool_-_Porte.png);
        mask-image: url(https://wiki-fr.guildwars2.com/images/b/bb/Utilisateur_Skrool_-_Porte.png);
        content: " ";
    }

    #pt-anoncontribs,
    #pt-anontalk {
        display: none;
    }

    #pt-createaccount a,
    #pt-login a {
        display: inline !important;
        position: static !important;
    }
}

#neige label {
    text-decoration: none;
    color: var(--nav-link);
}

#neige label:hover,
#neige label:focus {
    text-decoration: underline;
    color: var(--nav-link-h);
}

input#neigeOuPas {
    vertical-align: top;
    top: -0.12em;
    position: relative;
}

/* Notification */
/* Really small screens */
@media (max-width: 450px) {
    /* Timer */
    #pt-timer {
        display: none;
    }

    /* Edition*/
    #toolbar {
        overflow: visible;
    }

    .mw-editform #wpTextbox1 {
        margin-top: 2em;
    }
}

/* Additional elements */
.mw-rcfilters-ui-changesListWrapperWidget .mw-changeslist-legend,
.mw-rcfilters-ui-filterTagMultiselectWidget-views-select-widget.oo-ui-widget,
.mw-rcfilters-ui-filterMenuSectionOptionWidget {
    background-color: var(--body-bg);
}

.oo-ui-tagMultiselectWidget.oo-ui-widget-enabled.oo-ui-tagMultiselectWidget-outlined
    .oo-ui-tagMultiselectWidget-handle,
.oo-ui-textInputWidget .oo-ui-inputWidget-input,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled > .oo-ui-buttonElement-button,
.mw-rcfilters-ui-filterMenuHeaderWidget-header,
.mw-rcfilters-ui-menuSelectWidget-footer,
.oo-ui-menuSelectWidget,
.mw-rcfilters-ui-filterMenuOptionWidget.oo-ui-flaggedElement-muted:not(.oo-ui-optionWidget-selected) {
    background-color: var(--additional-body-bg);
    color: var(--body-color);
}

.oo-ui-buttonElement-framed.oo-ui-widget-enabled
    > .oo-ui-buttonElement-button:hover,
.oo-ui-buttonElement-frameless.oo-ui-widget-enabled
    > .oo-ui-buttonElement-button:hover {
    background-color: var(--body-bg);
}

.oo-ui-popupWidget-popup {
    background-color: var(--popup-bg-color);
    color: var(--body-color);
}
.oo-ui-popupWidget-anchored-top .oo-ui-popupWidget-anchor::after {
    border-bottom-color: var(--popup-bg-color);
}

.mw-echo-ui-placeholderItemWidget,
.mw-echo-ui-notificationItemWidget,
.mw-echo-ui-notificationItemWidget:hover {
    background-color: var(--body-bg);
}

.mw-echo-ui-notificationItemWidget-content-message-header,
.mw-rcfilters-ui-filterTagMultiselectWidget-wrapper-content-title {
    color: var(--body-color);
}

.mw-echo-ui-menuItemWidget > .oo-ui-labelElement-label,
.mw-rcfilters-ui-itemMenuOptionWidget-label-desc {
    color: var(--muted-color);
}
