/*** WINTERSDAY ***/

/*
** This is the vekktor theme for Wintersday (Hivernel),
** created for the French Guild Wars 2 Wiki.
** This css should be appended to the existing one in
** the "Vector.css" page.
**
** Additional font families required:
** - Cookie
** - Just Another Hand
*/

/* Colors */
:root {
  --header-image: url("https://wiki-fr.guildwars2.com/images/1/11/Header_-_Hivernel_2020.png");
  --footer-image: url("");
  --logo-image: url("/images/a/ac/Logo_-_Hivernel_2020.png");
  --user-icon: url("/images/a/a8/Ic%C3%B4ne_utilisateur_Hivernel.png");
  --user-icon-padding: 25px;
  --alert-bell-icon: url("images/b/ba/Icône_alerte_Hivernel.png");
  --notification-icon: url("/images/f/f8/Ic%C3%B4ne_courrier_Hivernel.png");
  --personal-bar-icon-opacity: 0.75;
  --additional-personal-icon-color: #dcf2f4;

  --bg-color: #031943;
  --body-bg: #fff;
  --body-bg-grad1: #eee;
  --body-bg-grad2: rgba(154, 1, 1, 0.6);

  --body-border: #098255;

  --body-shadow: #84e3c4;
  --box-shadows: rgba(154, 1, 1, 0.6);
  --pers-shadow: #84b6e3;

  --body-mainpage_header1: #0d2551;
  --body-mainpage_header2: #880101;

  --nav-title: #42a8dc;
  --nav-title2: #000;
  --nav-title3: #a50800;

  --external-link: #dcf2f4;
  --external-link-h: #fff;
  --external-link-v: #dcf2f4;

  --green-link: #ffffff;
  --green-link-h: #098255;
  --green-link-v: #daf9ed;
  --green-link-vh: #23a776;

  --nav-link: #6ec3ff;
  --nav-link-h: #319bf7;
  --nav-link-v: #208ad6;
  --nav-link-vh: #157ac2;

  --vector-tab1: #c3def9;
  --vector-tab2: #f1fdff;

  --footer1: #00356a;
  --footer2: #00356a;

  --pers1: #00356a;
  --pers2: #00356a;

  --notif-border: #009dff;

  --vector-tabs-padding-left: 2.5em;
  --content-large-position-y: 6em;
}

/* Fix mediawiki panel position because of bigger font size */
#mw-panel {
  top: 1.25em;
}

/* Set green color to some elements */
nav#p-personal a,
div#mw-panel nav.portal ul li a,
nav.vector-menu-tabs ul li a,
div.vector-menu #p-cactions-label span {
  color: var(--green-link);
}

nav#p-personal a:hover,
div#mw-panel nav.portal ul li a:hover,
nav.vector-menu-tabs ul li a:hover {
  color: var(--green-link-h);
}

nav#p-personal a:visited,
div#mw-panel nav.portal ul li a:visited {
  color: var(--green-link-v);
}

nav#p-personal a:visited:hover,
div#mw-panel nav.portal ul li a:visited:hover {
  color: var(--green-link-vh);
}

/* Font family */
#upperBar ul li {
  margin: 0;
  padding: 0px;
  font-family: "EasonPro", "Times New Roman", "serif";
}

div#content h1,
div#content h2,
div#content #firstHeading {
  font-family: "Cookie", serif;
  font-size: 2em;
}

div.vector-menu #p-cactions-label span {
  font-family: "Cookie", serif;
  font-size: 1rem;
  line-height: 0.2rem;
}

div#mw-panel nav.portal ul li a {
  font-family: "Cookie";
  font-size: 1.75em;
}

nav.vector-menu-tabs ul li a {
  font-family: "Cookie";
  font-size: 1.4em;
  padding-top: 0.6em;
}

div#mw-panel nav.portal h3 {
  font-weight: bold;
  font-size: 1.75em;
  margin: 0;
  font-family: "Cookie", serif;
  padding: 0 0 0 0.25em;
  color: var(--green-link-h);
}

nav.vector-menu-tabs ul li a {
  color: #2a3659;
}

nav#p-personal a {
  font-family: "Cookie";
  font-size: 1.5em;
}

nav#p-personal {
  border-radius: 2px;
}

#p-personal li a::before {
  top: 49.9em; /* Fix p-personal bar too big */
}

.mainpagenavigationtitle {
  background-image: url(https://guildwars2.staticwars.com/wp-content/themes/guildwars2.com-live/img/releases/december-10-2013/subhead-1.125e15ee.png);
  background-position-y: -23px;
  background-position-x: -43px;
}

/* Icons */
footer#footer li#footer-copyrightico {
  background: url("/images/a/a3/Logo_ArenaNet_blanc.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.vector-menu-tabs ul #ca-wikilove.icon a {
  padding-top: 1.75em;
}

#pt-userpage a,
#pt-anonuserpage a {
  background-position: left 10px;
}

/* Border */
.mw-body {
  border: 2px solid var(--body-border);
}

nav.vector-menu-tabs ul li.selected {
  border-bottom: solid var(--body-bg) 2px;
}

/* Upper bar y position adjustment */
@media (max-width: 1000px) {
  div#upperBar {
    top: 2.2em;
  }
}
