/*** WINTERSDAY DARK THEME ***/

/*
** This is the dark theme for the wintersday (Hivernel) theme,
** created for the French Guild Wars 2 Wiki.
** This css should be appended to the vekktor dark theme css.
** This css should be used with the wintersday css.
**
** Additional font families required:
** <None>
*/

/* Colors */
:root {
  --bg-color: #454952;
  --box-shadows: rgba(154, 1, 1, 0.6);
  --body-shadow: #84b6e3;
  --pers-shadow: #84b6e3;
  --wintersday-border: 2px solid #b6e2ff;
  --body-border: #b6e2ff;
  --external-link: #dcf2f4;
  --external-link-h: #fff;
  --external-link-v: #dcf2f4;
  --nav-link: #6ec3ff;
  --nav-link-h: #8ac8ff;
  --nav-link-v: #91caf3;
  --nav-link-vh: #68b2e7;
  --nav-title: #95d4f3;
  --nav-title3: #fc7575;
  --body-bg-grad2: #404963;

  --footer1: #0d2551;
  --footer2: #0d2551;

  --links: #319bf7;
  --links-visited: #208ad6;
  --links-external: #87b4ff;
}
