/*** DARK THEME ***/

/*
** This is the dark theme for the vekktor theme,
** created for the French Guild Wars 2 Wiki.
** XXX: The place of this css has not been determined yet
**
** Additional font families required:
** <None>
*/

/* Colors */
:root {
  --bg-color: #3f3c3f; /* Background color*/
  --body-bg-grad1: #eee;
  --bg-color2: #413f3b; /* Background color 2 (only used for special skins) */
  --popup-bg-color: #444444; /* Background popup panels (notifications, etc) */
  --external-link: #ffc8ad; /* Links in the upperbar (Guild Wars 2, Forum, etc...) and footer */
  --external-link-h: #fff; /* -> hover */
  --external-link-v: #fbdede; /* -> hover */
  --nav-title: #ddc7de; /* Title in the navigation bar, main page and personal area*/
  --nav-title2: var(--body-color); /* Title in the left navigation bar*/
  --nav-link: #d9b1c7; /* Links in the navigation bar, main page and personal area*/
  --nav-link-h: #ffa5d6; /* -> hover */
  --nav-link-v: #c16e9c; /* -> visited */
  --nav-link-vh: #ff269d; /* -> visited + hover*/
  --box-shadows: rgba(216, 167, 233, 0.5); /* Box shadow color */
  --footer1: #665e59; /* Color of the top of the gradient when the footer is resize too much */
  --footer2: #252525; /* Color of the bottom of the gradient when the footer is resize too much */
  --body-head-color: var(--body-color); /* Color of the text of the body */
  --body-color: #eae7e4; /* Color of the text of title of the body */
  --additional-body-bg: #555155; /* Background of some elements like panels, etc... */
  --muted-color: #969696; /* Color of the text with less emphasis */
  --infobox-color: var(--body-color); /* Color of the text of the infobox */
  --infobox-title-color: #252525; /* Color of the text of title of the infobox */
  --body-bg: #252525; /* Color of the background of the body */
  --body-bg-grad1: #3a3a3a; /* Color of the bottom of the gradient in the main page table */
  --body-bg-grad2: #584063; /* Color of the top shadow of the gradient in the main page table */
  --body-shadow: rgba(216, 167, 233, 0.5); /* Color of the shadow of the body */
  --body-border: #d8a7e9; /* Color of the border of the body */
  --vector-tab1: var(--bg-color); /* Color of the top of the vector tabs */
  --vector-tab2: #322e30; /* Color of the bottom of the vector tabs */
  --pers1: var(--bg-color); /* Color of the top of the personal tab */
  --pers2: #322e30; /* Color of the bottom of the personal tab */
  --pers-shadow: rgba(#d67a19, 0.25); /* Color of the shadow of the body */
  --bg-search: #413f40;

  --links: #ab9cf5;
  --links-visited: #9a64bc;
  --links-external: #87b4ff;

  --tab-bg: #413f40; /* Color of the background of the pre elements, and other kind of tab */
  --text-contrast: #000; /* Color used to contrast with light backgrounds */
}

/* Links */
a {
  color: var(--links);
}

a:visited {
  color: var(--links-visited);
}

.mw-body-content a.external {
  color: var(--links-external);
}

/* Recent modifications */
.mw-plusminus-neg {
  color: #da4747;
}

.mw-plusminus-pos {
  color: #a9dea9;
}

.unpatrolled {
  color: #f28f21;
}

a.new,
#p-personal a.new {
  color: #d86161;
}

#pagehistory li.selected {
  background-color: var(--tab-bg);
}

/* Pre */
pre {
  background-color: var(--tab-bg) !important;
  color: var(--body-color) !important;
}

/* Edit form */
.mw-editform .editOptions {
  background-color: var(--tab-bg);
}

.preview-limit-report {
  background-color: var(--tab-bg) !important;
  color: var(--body-color) !important;
}

table.wikitable > * > tr > th,
div.smwfact td,
div.smwfact tr,
div.smwfact table {
  background-color: var(--body-bg);
}

div.smwfact,
.smwfact tbody > tr.row-even > td {
  background-color: var(--tab-bg);
}

div.smwfact {
  border-color: var(--body-border);
}

/* Search bar */
div#simpleSearch,
div#simpleSearch #searchInput,
div#simpleSearch #searchButton,
textarea,
input[type="text"] {
  background-color: var(--bg-search);
  color: var(--body-color);
}

/* Infobox */
.entêteicône,
.entête {
  color: var(--infobox-title-color);
}

div.infobox {
  background-color: var(--tab-bg) !important;
}

div.recette {
  background-color: var(--tab-bg) !important;
}

/* Other tables */
thead tr th,
.table.succès > :first-child > tr:first-child,
.table.succès > tbody > tr.heading {
  color: var(--infobox-title-color);
}

.table tbody tr th {
  background-color: var(--body-bg) !important;
  border-right: dotted 1px var(--body-color) !important;
}

/* Category */
.catlinks {
  background-color: var(--tab-bg);
  border-color: var(--body-border);
}

/* Tables */
.table > tbody > tr:nth-child(2n + 1),
.table > tbody:first-child > tr:first-child > *,
.table > tbody > tr.heading > * {
  background-color: var(--tab-bg) !important;
}

/* Table of content */
#toc,
.toc,
.mw-warning,
.toccolours {
  background-color: var(--tab-bg);
}

.tocnumber {
  color: var(--body-color);
}

/* Main page */
#mainpagenavigation td {
  background: var(--bg-color);
}

/* Notice */
.notice-band,
.notice-box {
  color: var(--infobox-title-color);
}

#GameMode > .notice-band {
  color: var(--body-color);
}

/* Contrast */
.contrastDark {
  color: var(--text-contrast);
}
.contrastLight {
  color: var(--body-color);
}
